In [1]:
import findspark
findspark.init('/home/akshay/spark-3.5.1-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_tutorials_1").getOrCreate()

24/04/28 09:47:25 WARN Utils: Your hostname, akshay-vm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/04/28 09:47:25 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/28 09:47:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

read a json

In [3]:
df = spark.read.json(path = "./json/single/employee.json")
df.printSchema()
df.show()

root
 |-- age: long (nullable = true)
 |-- employee_id: long (nullable = true)
 |-- employee_name: string (nullable = true)
 |-- gender: string (nullable = true)

+---+-----------+--------------+------+
|age|employee_id| employee_name|gender|
+---+-----------+--------------+------+
| 30|        101|    John Smith|  Male|
| 28|        202| Emily Johnson|Female|
| 35|        303| Michael Brown|  Male|
| 32|        404|Sarah Williams|Female|
+---+-----------+--------------+------+

give it an external schema

In [4]:
from pyspark.sql.types import StringType, StructType, IntegerType, StructField

schema = StructType([StructField("age", IntegerType(), True), \
                     StructField("employee_id", IntegerType(), True), \
                    StructField("employee_name", StringType(), True), \
                    StructField("gender", StringType(), True), \
                     ])


df = spark.read.json(path = "./json/single/employee.json", schema=schema)
df.printSchema()
df.show()

root
 |-- age: integer (nullable = true)
 |-- employee_id: integer (nullable = true)
 |-- employee_name: string (nullable = true)
 |-- gender: string (nullable = true)

+---+-----------+--------------+------+
|age|employee_id| employee_name|gender|
+---+-----------+--------------+------+
| 30|        101|    John Smith|  Male|
| 28|        202| Emily Johnson|Female|
| 35|        303| Michael Brown|  Male|
| 32|        404|Sarah Williams|Female|
+---+-----------+--------------+------+

reading multiline json file

In [12]:


schema = StructType([StructField("age", IntegerType(), True), \
                     StructField("employee_id", IntegerType(), True), \
                    StructField("employee_name", StringType(), True), \
                    StructField("gender", StringType(), True), \
                     ])


df = spark.read.json(path = "./json/multiline/employee.json", schema=schema, multiLine=True)
df.printSchema()
df.show()

root
 |-- age: integer (nullable = true)
 |-- employee_id: integer (nullable = true)
 |-- employee_name: string (nullable = true)
 |-- gender: string (nullable = true)

+---+-----------+--------------+------+
|age|employee_id| employee_name|gender|
+---+-----------+--------------+------+
| 30|        101|    John Smith|  Male|
| 28|        202| Emily Johnson|Female|
| 35|        303| Michael Brown|  Male|
| 32|        404|Sarah Williams|Female|
+---+-----------+--------------+------+

reading multipal file at once

In [15]:
schema = StructType([StructField("age", IntegerType(), True), \
                     StructField("employee_id", IntegerType(), True), \
                    StructField("employee_name", StringType(), True), \
                    StructField("gender", StringType(), True), \
                     ])


df = spark.read.json(path = "./json/single/*.json", schema=schema)
df.printSchema()
df.show()

root
 |-- age: integer (nullable = true)
 |-- employee_id: integer (nullable = true)
 |-- employee_name: string (nullable = true)
 |-- gender: string (nullable = true)

+---+-----------+---------------+------+
|age|employee_id|  employee_name|gender|
+---+-----------+---------------+------+
| 30|        101|     John Smith|  Male|
| 28|        202|  Emily Johnson|Female|
| 35|        303|  Michael Brown|  Male|
| 32|        404| Sarah Williams|Female|
| 33|        505|      David Lee|  Male|
| 29|        606|    Emma Garcia|Female|
| 40|        707|James Rodriguez|  Male|
| 27|        808|Olivia Martinez|Female|
+---+-----------+---------------+------+