In [17]:
import findspark
findspark.init('/home/akshay/spark-3.5.1-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_tutorials_1").getOrCreate()

In [18]:
data = [(1,"Harshada"),(2,"Akshay"),(3,"Mrunali"),(4,"Aniket"),(5,"Neha")]

In [19]:
schema = ["id","name"]

In [20]:
df = spark.createDataFrame(data=data, schema=schema)

In [21]:
df.show()

+---+--------+
| id|    name|
+---+--------+
|  1|Harshada|
|  2|  Akshay|
|  3| Mrunali|
|  4|  Aniket|
|  5|    Neha|
+---+--------+

In [22]:
df.write.format("parquet").mode("overwrite").save("./data/parquet_data")

In [24]:
df1 = spark.read.parquet("./data/parquet_data")

In [26]:
df1.show()

+---+--------+
| id|    name|
+---+--------+
|  1|Harshada|
|  3| Mrunali|
|  2|  Akshay|
|  4|  Aniket|
|  5|    Neha|
+---+--------+