In [1]:
import findspark
findspark.init('/home/akshay/spark-3.5.1-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_tutorials_1").getOrCreate()

24/06/08 11:15:10 WARN Utils: Your hostname, akshay-vm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/06/08 11:15:10 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/08 11:15:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

create a dataframe

In [4]:
data =[(1,"Akshay","26"),(2,"Harshada","25"),(3,"Mrunali","26")]
schema = ["id", "name", "age"]

df = spark.createDataFrame(data=data, schema=schema)
df.show()

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  1|  Akshay| 26|
|  2|Harshada| 25|
|  3| Mrunali| 26|
+---+--------+---+

In [5]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)

let's change the datatype by using withcolumn function

In [6]:
from pyspark.sql.functions import col

In [7]:
df1 = df.withColumn(colName="age", col=col("age").cast("Integer"))

In [8]:
df1.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

lets change the value

In [9]:
df1.show()

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  1|  Akshay| 26|
|  2|Harshada| 25|
|  3| Mrunali| 26|
+---+--------+---+

In [10]:
df2 = df1.withColumn(colName="age", col=col("age")+1)

In [11]:
df2.show()

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  1|  Akshay| 27|
|  2|Harshada| 26|
|  3| Mrunali| 27|
+---+--------+---+

Let's add a column

In [12]:
from pyspark.sql.functions import lit

In [15]:
df3 = df2.withColumn(colName="Country",col=lit("India"))

In [16]:
df3.show()

+---+--------+---+-------+
| id|    name|age|Country|
+---+--------+---+-------+
|  1|  Akshay| 27|  India|
|  2|Harshada| 26|  India|
|  3| Mrunali| 27|  India|
+---+--------+---+-------+