In [1]:
import findspark
findspark.init('/home/akshay/spark-3.5.1-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_tutorials_1").getOrCreate()

24/06/13 13:05:43 WARN Utils: Your hostname, akshay-vm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/06/13 13:05:43 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/13 13:05:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

explode function

In [2]:
data = [
    [1, 'John', ['Python', 'Java']],
    [2, 'Alice', ['C++', 'SQL', 'JavaScript']],
    [3, 'Bob', ['Python', 'Java', 'SQL']],
    [4, 'Charlie', ['Python', 'JavaScript']],
    [5, 'David', ['Java', 'C++']],
    [6, 'Emily', ['Python', 'JavaScript', 'SQL']],
    [7, 'Frank', ['Python', 'Java', 'C++']],
    [8, 'Grace', ['JavaScript']],
    [9, 'Hannah', ['Python', 'SQL']],
    [10, 'Ian', ['Java', 'C++']]
]

In [3]:
from pyspark.sql.types import StructType, StructField, StringType, ArrayType, IntegerType

In [4]:
schema = StructType([\
                        StructField("id", IntegerType()), \
                        StructField("name", StringType()), \
                        StructField("skills", ArrayType(StringType())) \
                    ])

In [5]:
df = spark.createDataFrame(data=data, schema=schema)
df.show()
df.printSchema()

+---+-------+--------------------+
| id|   name|              skills|
+---+-------+--------------------+
|  1|   John|      [Python, Java]|
|  2|  Alice|[C++, SQL, JavaSc...|
|  3|    Bob| [Python, Java, SQL]|
|  4|Charlie|[Python, JavaScript]|
|  5|  David|         [Java, C++]|
|  6|  Emily|[Python, JavaScri...|
|  7|  Frank| [Python, Java, C++]|
|  8|  Grace|        [JavaScript]|
|  9| Hannah|       [Python, SQL]|
| 10|    Ian|         [Java, C++]|
+---+-------+--------------------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- skills: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [6]:
from pyspark.sql.functions import col, explode

In [7]:
df1 = df.withColumn("skill", explode(col("skills")))
df1.show(n=20)

+---+-------+--------------------+----------+
| id|   name|              skills|     skill|
+---+-------+--------------------+----------+
|  1|   John|      [Python, Java]|    Python|
|  1|   John|      [Python, Java]|      Java|
|  2|  Alice|[C++, SQL, JavaSc...|       C++|
|  2|  Alice|[C++, SQL, JavaSc...|       SQL|
|  2|  Alice|[C++, SQL, JavaSc...|JavaScript|
|  3|    Bob| [Python, Java, SQL]|    Python|
|  3|    Bob| [Python, Java, SQL]|      Java|
|  3|    Bob| [Python, Java, SQL]|       SQL|
|  4|Charlie|[Python, JavaScript]|    Python|
|  4|Charlie|[Python, JavaScript]|JavaScript|
|  5|  David|         [Java, C++]|      Java|
|  5|  David|         [Java, C++]|       C++|
|  6|  Emily|[Python, JavaScri...|    Python|
|  6|  Emily|[Python, JavaScri...|JavaScript|
|  6|  Emily|[Python, JavaScri...|       SQL|
|  7|  Frank| [Python, Java, C++]|    Python|
|  7|  Frank| [Python, Java, C++]|      Java|
|  7|  Frank| [Python, Java, C++]|       C++|
|  8|  Grace|        [JavaScript]|JavaScript|
|  9| Hannah|       [Python, SQL]|    Python|
+---+-------+--------------------+----------+
only showing top 20 rows

split function

In [8]:
data = [
    [1, 'John', 'Python,Java'],
    [2, 'Alice', 'C++,SQL,JavaScript'],
    [3, 'Bob', 'Python,Java,SQL'],
    [4, 'Charlie', 'Python,JavaScript'],
    [5, 'David', 'Java,C++'],
    [6, 'Emily', 'Python,JavaScript,SQL'],
    [7, 'Frank', 'Python,Java,C++'],
    [8, 'Grace', 'JavaScript'],
    [9, 'Hannah', 'Python,SQL'],
    [10, 'Ian', 'Java,C++']
]

In [9]:
schema = StructType([\
                        StructField("id", IntegerType()), \
                        StructField("name", StringType()), \
                        StructField("skills", StringType()) \
                    ])

In [10]:
df = spark.createDataFrame(data=data, schema=schema)

In [11]:
df.show()

+---+-------+--------------------+
| id|   name|              skills|
+---+-------+--------------------+
|  1|   John|         Python,Java|
|  2|  Alice|  C++,SQL,JavaScript|
|  3|    Bob|     Python,Java,SQL|
|  4|Charlie|   Python,JavaScript|
|  5|  David|            Java,C++|
|  6|  Emily|Python,JavaScript...|
|  7|  Frank|     Python,Java,C++|
|  8|  Grace|          JavaScript|
|  9| Hannah|          Python,SQL|
| 10|    Ian|            Java,C++|
+---+-------+--------------------+

In [12]:
from pyspark.sql.functions import split

In [13]:
df1 = df.withColumn("skillsArray",split(col("skills"), ","))

In [14]:
df1.show()

+---+-------+--------------------+--------------------+
| id|   name|              skills|         skillsArray|
+---+-------+--------------------+--------------------+
|  1|   John|         Python,Java|      [Python, Java]|
|  2|  Alice|  C++,SQL,JavaScript|[C++, SQL, JavaSc...|
|  3|    Bob|     Python,Java,SQL| [Python, Java, SQL]|
|  4|Charlie|   Python,JavaScript|[Python, JavaScript]|
|  5|  David|            Java,C++|         [Java, C++]|
|  6|  Emily|Python,JavaScript...|[Python, JavaScri...|
|  7|  Frank|     Python,Java,C++| [Python, Java, C++]|
|  8|  Grace|          JavaScript|        [JavaScript]|
|  9| Hannah|          Python,SQL|       [Python, SQL]|
| 10|    Ian|            Java,C++|         [Java, C++]|
+---+-------+--------------------+--------------------+

In [15]:
df1.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- skills: string (nullable = true)
 |-- skillsArray: array (nullable = true)
 |    |-- element: string (containsNull = false)

array function

In [16]:
data = [
    [1, 'John', 'Python', 'Java'],
    [2, 'Alice', 'C++', 'SQL'],
    [3, 'Bob', 'Python', 'Java'],
    [4, 'Charlie', 'Python', 'JavaScript'],
    [5, 'David', 'Java', 'C++'],
    [6, 'Emily', 'Python', 'JavaScript'],
    [7, 'Frank', 'Python', 'Java'],
    [8, 'Grace', 'JavaScript', 'Python'],
    [9, 'Hannah', 'Python', 'SQL'],
    [10, 'Ian', 'Java', 'C++']
]

In [17]:
schema = ["id", "name","primarySkill", "secondaryskill"]

In [18]:
df = spark.createDataFrame(data=data, schema=schema)

In [19]:
df.show()

+---+-------+------------+--------------+
| id|   name|primarySkill|secondaryskill|
+---+-------+------------+--------------+
|  1|   John|      Python|          Java|
|  2|  Alice|         C++|           SQL|
|  3|    Bob|      Python|          Java|
|  4|Charlie|      Python|    JavaScript|
|  5|  David|        Java|           C++|
|  6|  Emily|      Python|    JavaScript|
|  7|  Frank|      Python|          Java|
|  8|  Grace|  JavaScript|        Python|
|  9| Hannah|      Python|           SQL|
| 10|    Ian|        Java|           C++|
+---+-------+------------+--------------+

In [20]:
from pyspark.sql.functions import array

In [21]:
df1 = df.withColumn("arrayskills", array(col("primarySkill"), col("secondaryskill")))

In [22]:
df1.show()

+---+-------+------------+--------------+--------------------+
| id|   name|primarySkill|secondaryskill|         arrayskills|
+---+-------+------------+--------------+--------------------+
|  1|   John|      Python|          Java|      [Python, Java]|
|  2|  Alice|         C++|           SQL|          [C++, SQL]|
|  3|    Bob|      Python|          Java|      [Python, Java]|
|  4|Charlie|      Python|    JavaScript|[Python, JavaScript]|
|  5|  David|        Java|           C++|         [Java, C++]|
|  6|  Emily|      Python|    JavaScript|[Python, JavaScript]|
|  7|  Frank|      Python|          Java|      [Python, Java]|
|  8|  Grace|  JavaScript|        Python|[JavaScript, Python]|
|  9| Hannah|      Python|           SQL|       [Python, SQL]|
| 10|    Ian|        Java|           C++|         [Java, C++]|
+---+-------+------------+--------------+--------------------+

In [23]:
df1.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- primarySkill: string (nullable = true)
 |-- secondaryskill: string (nullable = true)
 |-- arrayskills: array (nullable = false)
 |    |-- element: string (containsNull = true)

array_contains function

In [24]:
data = [
    [1, 'John', ['Python', 'Java']],
    [2, 'Alice', ['C++', 'SQL', 'JavaScript']],
    [3, 'Bob', ['Python', 'Java', 'SQL']],
    [4, 'Charlie', ['Python', 'JavaScript']],
    [5, 'David', ['Java', 'C++']],
    [6, 'Emily', ['Python', 'JavaScript', 'SQL']],
    [7, 'Frank', ['Python', 'Java', 'C++']],
    [8, 'Grace', ['JavaScript']],
    [9, 'Hannah', ['Python', 'SQL']],
    [10, 'Ian', ['Java', 'C++']]
]

In [25]:
schema = StructType([\
                        StructField("id", IntegerType()), \
                        StructField("name", StringType()), \
                        StructField("skills", ArrayType(StringType())) \
                    ])

In [26]:
df = spark.createDataFrame(data=data, schema=schema)
df.show()
df.printSchema()

+---+-------+--------------------+
| id|   name|              skills|
+---+-------+--------------------+
|  1|   John|      [Python, Java]|
|  2|  Alice|[C++, SQL, JavaSc...|
|  3|    Bob| [Python, Java, SQL]|
|  4|Charlie|[Python, JavaScript]|
|  5|  David|         [Java, C++]|
|  6|  Emily|[Python, JavaScri...|
|  7|  Frank| [Python, Java, C++]|
|  8|  Grace|        [JavaScript]|
|  9| Hannah|       [Python, SQL]|
| 10|    Ian|         [Java, C++]|
+---+-------+--------------------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- skills: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [27]:
from pyspark.sql.functions import array_contains

In [28]:
df1 = df.withColumn("contains_python", array_contains(col("skills"),"Python"))

In [29]:
df1.show()

+---+-------+--------------------+---------------+
| id|   name|              skills|contains_python|
+---+-------+--------------------+---------------+
|  1|   John|      [Python, Java]|           true|
|  2|  Alice|[C++, SQL, JavaSc...|          false|
|  3|    Bob| [Python, Java, SQL]|           true|
|  4|Charlie|[Python, JavaScript]|           true|
|  5|  David|         [Java, C++]|          false|
|  6|  Emily|[Python, JavaScri...|           true|
|  7|  Frank| [Python, Java, C++]|           true|
|  8|  Grace|        [JavaScript]|          false|
|  9| Hannah|       [Python, SQL]|           true|
| 10|    Ian|         [Java, C++]|          false|
+---+-------+--------------------+---------------+

In [30]:
df1.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- skills: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- contains_python: boolean (nullable = true)