In [1]:
import findspark
findspark.init('/home/akshay/spark-3.5.1-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_tutorials_1").getOrCreate()

24/06/13 17:03:58 WARN Utils: Your hostname, akshay-vm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/06/13 17:03:58 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/13 17:03:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/06/13 17:04:01 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
from pyspark.sql import Row

In [5]:
row1 = Row("Akshay", "25")
row2 = Row("Harshada", "26")

print(row1[0])
print(row1[1])

Akshay
25

In [6]:
row1 = Row(name = "Akshay", age="25")
row2 = Row(name = "Harshada", age="26")

In [8]:
print(row1["name"])
print(row1["age"])

Akshay
25

In [9]:
Person =Row("name", "agge")

In [10]:
p1 = Person("Akshay",25)
p2 = Person("Harshada",25)

In [11]:
df = spark.createDataFrame(data = [p1,p2])

In [12]:
df.show()

+--------+----+
|    name|agge|
+--------+----+
|  Akshay|  25|
|Harshada|  25|
+--------+----+

In [13]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- agge: long (nullable = true)