In [1]:
import findspark
findspark.init('/home/akshay/spark-3.5.1-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_tutorials_1").getOrCreate()

24/06/13 18:49:06 WARN Utils: Your hostname, akshay-vm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/06/13 18:49:06 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/13 18:49:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
data = [
    (1, "John", 30, 50000),
    (2, "Alice", 25, 45000),
    (3, "Bob", 35, 60000),
    (4, "Emily", 28, 52000),
    (5, "David", 40, 70000),
    (6, "Sarah", 33, 58000),
    (7, "Michael", 45, 80000),
    (8, "Emma", 27, 48000),
    (9, "James", 38, 65000),
    (10, "Olivia", 32, 55000)
]

In [5]:
from pyspark.sql.types import StructField, StructType, StringType, IntegerType, LongType
from pyspark.sql.functions import col, lit

In [6]:
schema = StructType([ \
                        StructField("id", dataType=IntegerType()), \
                        StructField("name", dataType=StringType()), \
                        StructField("age", dataType=IntegerType()), \
                        StructField("salary", dataType=LongType()) \
                    ])

In [8]:
df = spark.createDataFrame(data=data, schema=schema)

In [9]:
df.show()

+---+-------+---+------+
| id|   name|age|salary|
+---+-------+---+------+
|  1|   John| 30| 50000|
|  2|  Alice| 25| 45000|
|  3|    Bob| 35| 60000|
|  4|  Emily| 28| 52000|
|  5|  David| 40| 70000|
|  6|  Sarah| 33| 58000|
|  7|Michael| 45| 80000|
|  8|   Emma| 27| 48000|
|  9|  James| 38| 65000|
| 10| Olivia| 32| 55000|
+---+-------+---+------+

adding new column with lit

In [10]:
df1 = df.withColumn(colName="Country", col=lit("India"))
df1.show()

+---+-------+---+------+-------+
| id|   name|age|salary|Country|
+---+-------+---+------+-------+
|  1|   John| 30| 50000|  India|
|  2|  Alice| 25| 45000|  India|
|  3|    Bob| 35| 60000|  India|
|  4|  Emily| 28| 52000|  India|
|  5|  David| 40| 70000|  India|
|  6|  Sarah| 33| 58000|  India|
|  7|Michael| 45| 80000|  India|
|  8|   Emma| 27| 48000|  India|
|  9|  James| 38| 65000|  India|
| 10| Olivia| 32| 55000|  India|
+---+-------+---+------+-------+

access a column

In [12]:
df1.select(col("name"), col("salary"), col("Country")).show()

+-------+------+-------+
|   name|salary|Country|
+-------+------+-------+
|   John| 50000|  India|
|  Alice| 45000|  India|
|    Bob| 60000|  India|
|  Emily| 52000|  India|
|  David| 70000|  India|
|  Sarah| 58000|  India|
|Michael| 80000|  India|
|   Emma| 48000|  India|
|  James| 65000|  India|
| Olivia| 55000|  India|
+-------+------+-------+

In [13]:
df1.select(df1["name"], df1["salary"], df1["Country"]).show()

+-------+------+-------+
|   name|salary|Country|
+-------+------+-------+
|   John| 50000|  India|
|  Alice| 45000|  India|
|    Bob| 60000|  India|
|  Emily| 52000|  India|
|  David| 70000|  India|
|  Sarah| 58000|  India|
|Michael| 80000|  India|
|   Emma| 48000|  India|
|  James| 65000|  India|
| Olivia| 55000|  India|
+-------+------+-------+

In [14]:
df1.select(df1.name, df1.salary, df1.Country).show()

+-------+------+-------+
|   name|salary|Country|
+-------+------+-------+
|   John| 50000|  India|
|  Alice| 45000|  India|
|    Bob| 60000|  India|
|  Emily| 52000|  India|
|  David| 70000|  India|
|  Sarah| 58000|  India|
|Michael| 80000|  India|
|   Emma| 48000|  India|
|  James| 65000|  India|
| Olivia| 55000|  India|
+-------+------+-------+