In [1]:
import findspark
findspark.init('/home/akshay/spark-3.5.1-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_tutorials_1").getOrCreate()

24/06/13 22:46:27 WARN Utils: Your hostname, akshay-vm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/06/13 22:46:27 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/13 22:46:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
data = [
    (1, 'Alice', 'F', 50000),
    (2, 'Bob', 'M', 60000),
    (3, 'Charlie', 'M', 55000),
    (4, 'David', 'M', 62000),
    (5, 'Eve', 'F', 51000),
    (6, 'Fiona', 'F', 48000),
    (7, 'George', 'M', 59000),
    (8, 'Hannah', 'F', 54000),
    (9, 'Ian', 'M', 63000),
    (10, 'Jane', 'F', 52000),
    (11, 'Kevin', 'M', 58000),
    (12, 'Lily', 'F', 49000),
    (13, 'Mike', 'M', 64000),
    (14, 'Nora', 'F', 56000),
    (15, 'Oscar', 'M', 67000),
    (16, 'Pam', 'F', 53000),
    (17, 'Quinn', '', 61000),
    (18, 'Rachel', '', 57000),
    (19, 'Sam', 'M', 65000),
    (20, 'Tina', 'F', 59000)
]

In [4]:
schema = ["id","name","gender","salary"]

In [6]:
df = spark.createDataFrame(data=data, schema=schema)
df.show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1|  Alice|     F| 50000|
|  2|    Bob|     M| 60000|
|  3|Charlie|     M| 55000|
|  4|  David|     M| 62000|
|  5|    Eve|     F| 51000|
|  6|  Fiona|     F| 48000|
|  7| George|     M| 59000|
|  8| Hannah|     F| 54000|
|  9|    Ian|     M| 63000|
| 10|   Jane|     F| 52000|
| 11|  Kevin|     M| 58000|
| 12|   Lily|     F| 49000|
| 13|   Mike|     M| 64000|
| 14|   Nora|     F| 56000|
| 15|  Oscar|     M| 67000|
| 16|    Pam|     F| 53000|
| 17|  Quinn|      | 61000|
| 18| Rachel|      | 57000|
| 19|    Sam|     M| 65000|
| 20|   Tina|     F| 59000|
+---+-------+------+------+

In [8]:
from pyspark.sql.functions import when, col, a

In [15]:
df1 = df.select(col("id"), \
                col("name"), \
                col("salary"), \
                when(condition=df.gender == "M", value="Male"). \
                    when(condition=df.gender == "F", value="Female"). \
                    otherwise("unknown"). \
                    alias("gender") \
                )

In [16]:
df1.show()

+---+-------+------+-------+
| id|   name|salary| gender|
+---+-------+------+-------+
|  1|  Alice| 50000| Female|
|  2|    Bob| 60000|   Male|
|  3|Charlie| 55000|   Male|
|  4|  David| 62000|   Male|
|  5|    Eve| 51000| Female|
|  6|  Fiona| 48000| Female|
|  7| George| 59000|   Male|
|  8| Hannah| 54000| Female|
|  9|    Ian| 63000|   Male|
| 10|   Jane| 52000| Female|
| 11|  Kevin| 58000|   Male|
| 12|   Lily| 49000| Female|
| 13|   Mike| 64000|   Male|
| 14|   Nora| 56000| Female|
| 15|  Oscar| 67000|   Male|
| 16|    Pam| 53000| Female|
| 17|  Quinn| 61000|unknown|
| 18| Rachel| 57000|unknown|
| 19|    Sam| 65000|   Male|
| 20|   Tina| 59000| Female|
+---+-------+------+-------+