In [1]:
import findspark
findspark.init('/home/akshay/spark-3.5.1-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_tutorials_1").getOrCreate()

24/06/14 17:25:47 WARN Utils: Your hostname, akshay-vm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/06/14 17:25:47 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/14 17:25:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/06/14 17:25:50 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
data = [
    (1, 'Alice', 'F', 50000),
    (2, 'Bob', 'M', 60000),
    (3, 'Charlie', 'M', 55000),
    (4, 'David', 'M', 62000),
    (5, 'Eve', 'F', 51000),
    (6, 'Fiona', 'F', 48000),
    (7, 'George', 'M', 59000),
    (8, 'Hannah', 'F', 54000),
    (9, 'Ian', 'M', 63000),
    (10, 'Jane', 'F', 52000),
    (11, 'Kevin', 'M', 58000),
    (12, 'Lily', 'F', 49000),
    (13, 'Mike', 'M', 64000),
    (14, 'Nora', 'F', 56000),
    (15, 'Oscar', 'M', 67000),
    (16, 'Pam', 'F', 53000),
    (17, 'Quinn', '', 61000),
    (18, 'Rachel', '', 57000),
    (19, 'Sam', 'M', 65000),
    (20, 'Tina', 'F', 59000)
]

In [3]:
schema = ["id", "name", "gender","salary"]

In [4]:
df = spark.createDataFrame(data=data, schema=schema)
df.show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1|  Alice|     F| 50000|
|  2|    Bob|     M| 60000|
|  3|Charlie|     M| 55000|
|  4|  David|     M| 62000|
|  5|    Eve|     F| 51000|
|  6|  Fiona|     F| 48000|
|  7| George|     M| 59000|
|  8| Hannah|     F| 54000|
|  9|    Ian|     M| 63000|
| 10|   Jane|     F| 52000|
| 11|  Kevin|     M| 58000|
| 12|   Lily|     F| 49000|
| 13|   Mike|     M| 64000|
| 14|   Nora|     F| 56000|
| 15|  Oscar|     M| 67000|
| 16|    Pam|     F| 53000|
| 17|  Quinn|      | 61000|
| 18| Rachel|      | 57000|
| 19|    Sam|     M| 65000|
| 20|   Tina|     F| 59000|
+---+-------+------+------+

filter clause

In [5]:
help(df.filter)

Help on method filter in module pyspark.sql.dataframe:

filter(condition: 'ColumnOrName') -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Filters rows using the given condition.

    :func:`where` is an alias for :func:`filter`.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    condition : :class:`Column` or str
        a :class:`Column` of :class:`types.BooleanType`
        or a string of SQL expressions.

    Returns
    -------
    :class:`DataFrame`
        Filtered DataFrame.

    Examples
    --------
    >>> df = spark.createDataFrame([
    ...     (2, "Alice"), (5, "Bob")], schema=["age", "name"])

    Filter by :class:`Column` instances.

    >>> df.filter(df.age > 3).show()
    +---+----+
    |age|name|
    +---+----+
    |  5| Bob|
    +---+----+
    >>> df.where(df.age == 2).show()
    +---+-----+
    |age| name|
    +---+-----+
    |  2|Alice|
    +---+-----+

    Filter by SQL expression in a string.

    >>> df.filter("age > 3").show()
    +---+----+
    |age|name|
    +---+----+
    |  5| Bob|
    +---+----+
    >>> df.where("age = 2").show()
    +---+-----+
    |age| name|
    +---+-----+
    |  2|Alice|
    +---+-----+

In [6]:
df1 = df.filter(df.gender == "M")
df1.show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  2|    Bob|     M| 60000|
|  3|Charlie|     M| 55000|
|  4|  David|     M| 62000|
|  7| George|     M| 59000|
|  9|    Ian|     M| 63000|
| 11|  Kevin|     M| 58000|
| 13|   Mike|     M| 64000|
| 15|  Oscar|     M| 67000|
| 19|    Sam|     M| 65000|
+---+-------+------+------+

In [8]:
df2 = df.filter("gender == 'M'")
df2.show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  2|    Bob|     M| 60000|
|  3|Charlie|     M| 55000|
|  4|  David|     M| 62000|
|  7| George|     M| 59000|
|  9|    Ian|     M| 63000|
| 11|  Kevin|     M| 58000|
| 13|   Mike|     M| 64000|
| 15|  Oscar|     M| 67000|
| 19|    Sam|     M| 65000|
+---+-------+------+------+

In [9]:
df3 = df.where((df.gender == "M") & (df.salary >= 60000))
df3.show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  2|  Bob|     M| 60000|
|  4|David|     M| 62000|
|  9|  Ian|     M| 63000|
| 13| Mike|     M| 64000|
| 15|Oscar|     M| 67000|
| 19|  Sam|     M| 65000|
+---+-----+------+------+

you can use where as well

In [10]:
df3 = df.filter((df.gender == "M") & (df.salary >= 60000))
df3.show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  2|  Bob|     M| 60000|
|  4|David|     M| 62000|
|  9|  Ian|     M| 63000|
| 13| Mike|     M| 64000|
| 15|Oscar|     M| 67000|
| 19|  Sam|     M| 65000|
+---+-----+------+------+