In [7]:
import findspark
findspark.init('/home/akshay/spark-3.5.1-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_tutorials_1").getOrCreate()

In [8]:
data = [
    (1, 'Alice', 'Female', 50000),
    (1, 'Alice', 'Female', 50000),
    (2, 'Bob', 'Male', 60000),
    (2, 'Bob', 'Male', 60000),
    (3, 'Charlie', 'Male', 55000),
    (4, 'David', 'Male', 70000),
    (5, 'Eve', 'Female', 48000),
    (6, 'Frank', 'Male', 62000),
    (7, 'Grace', 'Female', 53000),
    (8, 'Helen', 'Female', 51000),
    (9, 'Ivy', 'Female', 52000),
    (10, 'Jack', 'Male', 58000),
    (11, 'Alice', 'Female', 50000),  # Duplicate entry
    (12, 'Bob', 'Male', 60000),       # Duplicate entry
]

In [9]:
schema = ["id", "name", "gender", "salary"]

In [10]:
df = spark.createDataFrame(data=data, schema=schema)

In [13]:
df.show()
print(df.count())

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1|  Alice|Female| 50000|
|  1|  Alice|Female| 50000|
|  2|    Bob|  Male| 60000|
|  2|    Bob|  Male| 60000|
|  3|Charlie|  Male| 55000|
|  4|  David|  Male| 70000|
|  5|    Eve|Female| 48000|
|  6|  Frank|  Male| 62000|
|  7|  Grace|Female| 53000|
|  8|  Helen|Female| 51000|
|  9|    Ivy|Female| 52000|
| 10|   Jack|  Male| 58000|
| 11|  Alice|Female| 50000|
| 12|    Bob|  Male| 60000|
+---+-------+------+------+

14

In [14]:
unique_df = df.distinct()
print("Distinct rows:")
unique_df.show()
print(unique_df.count())

Distinct rows:
+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1|  Alice|Female| 50000|
|  2|    Bob|  Male| 60000|
|  4|  David|  Male| 70000|
|  3|Charlie|  Male| 55000|
|  5|    Eve|Female| 48000|
|  6|  Frank|  Male| 62000|
|  7|  Grace|Female| 53000|
| 10|   Jack|  Male| 58000|
| 11|  Alice|Female| 50000|
| 12|    Bob|  Male| 60000|
|  9|    Ivy|Female| 52000|
|  8|  Helen|Female| 51000|
+---+-------+------+------+

12

In [15]:
drop_duplicates_df = df.dropDuplicates(["name", "gender"])
print("Rows after dropping duplicates based on 'name' and 'gender':")
drop_duplicates_df.show()
print(drop_duplicates_df.count())

Rows after dropping duplicates based on 'name' and 'gender':
+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1|  Alice|Female| 50000|
|  2|    Bob|  Male| 60000|
|  4|  David|  Male| 70000|
|  3|Charlie|  Male| 55000|
|  6|  Frank|  Male| 62000|
|  5|    Eve|Female| 48000|
|  7|  Grace|Female| 53000|
|  8|  Helen|Female| 51000|
|  9|    Ivy|Female| 52000|
| 10|   Jack|  Male| 58000|
+---+-------+------+------+

10