In [1]:
import findspark
findspark.init('/home/akshay/spark-3.5.1-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_tutorials_1").getOrCreate()

24/06/14 18:35:05 WARN Utils: Your hostname, akshay-vm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/06/14 18:35:05 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/14 18:35:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/06/14 18:35:08 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
data_with_dept = [
    (1, 'Alice', 'Female', 50000, 'HR'),
    (2, 'Bob', 'Male', 60000, 'Finance'),
    (3, 'Charlie', 'Male', 55000, 'IT'),
    (4, 'David', 'Male', 70000, 'HR'),
    (5, 'Eve', 'Female', 48000, 'Finance'),
    (6, 'Frank', 'Male', 62000, 'IT'),
    (7, 'Grace', 'Female', 53000, 'HR'),
    (8, 'Helen', 'Female', 51000, 'IT'),
    (9, 'Ivy', 'Female', 52000, 'Finance'),
    (10, 'Jack', 'Male', 58000, 'HR'),
    (11, 'Alice', 'Female', 50000, 'IT'),  # Duplicate entry
    (12, 'Bob', 'Male', 60000, 'Finance'),  # Duplicate entry
]

In [3]:
schema = ["id", "name", "gender","salary","dept"]

In [4]:
df = spark.createDataFrame(data=data_with_dept, schema=schema)

In [5]:
df.show()

+---+-------+------+------+-------+
| id|   name|gender|salary|   dept|
+---+-------+------+------+-------+
|  1|  Alice|Female| 50000|     HR|
|  2|    Bob|  Male| 60000|Finance|
|  3|Charlie|  Male| 55000|     IT|
|  4|  David|  Male| 70000|     HR|
|  5|    Eve|Female| 48000|Finance|
|  6|  Frank|  Male| 62000|     IT|
|  7|  Grace|Female| 53000|     HR|
|  8|  Helen|Female| 51000|     IT|
|  9|    Ivy|Female| 52000|Finance|
| 10|   Jack|  Male| 58000|     HR|
| 11|  Alice|Female| 50000|     IT|
| 12|    Bob|  Male| 60000|Finance|
+---+-------+------+------+-------+

In [6]:
from pyspark.sql.functions import col

In [7]:
df1 = df.sort(col("dept").asc())
df1.show()

+---+-------+------+------+-------+
| id|   name|gender|salary|   dept|
+---+-------+------+------+-------+
| 12|    Bob|  Male| 60000|Finance|
|  5|    Eve|Female| 48000|Finance|
|  2|    Bob|  Male| 60000|Finance|
|  9|    Ivy|Female| 52000|Finance|
|  4|  David|  Male| 70000|     HR|
|  1|  Alice|Female| 50000|     HR|
| 10|   Jack|  Male| 58000|     HR|
|  7|  Grace|Female| 53000|     HR|
|  6|  Frank|  Male| 62000|     IT|
|  3|Charlie|  Male| 55000|     IT|
| 11|  Alice|Female| 50000|     IT|
|  8|  Helen|Female| 51000|     IT|
+---+-------+------+------+-------+

In [10]:
df1 = df.orderBy(col("dept").asc())
df1.show()

+---+-------+------+------+-------+
| id|   name|gender|salary|   dept|
+---+-------+------+------+-------+
| 12|    Bob|  Male| 60000|Finance|
|  9|    Ivy|Female| 52000|Finance|
|  5|    Eve|Female| 48000|Finance|
|  2|    Bob|  Male| 60000|Finance|
|  7|  Grace|Female| 53000|     HR|
|  4|  David|  Male| 70000|     HR|
| 10|   Jack|  Male| 58000|     HR|
|  1|  Alice|Female| 50000|     HR|
|  8|  Helen|Female| 51000|     IT|
|  6|  Frank|  Male| 62000|     IT|
| 11|  Alice|Female| 50000|     IT|
|  3|Charlie|  Male| 55000|     IT|
+---+-------+------+------+-------+

In [12]:
df2 = df.sort(col("dept").asc(), col("id").asc())
df2.show()

+---+-------+------+------+-------+
| id|   name|gender|salary|   dept|
+---+-------+------+------+-------+
|  2|    Bob|  Male| 60000|Finance|
|  5|    Eve|Female| 48000|Finance|
|  9|    Ivy|Female| 52000|Finance|
| 12|    Bob|  Male| 60000|Finance|
|  1|  Alice|Female| 50000|     HR|
|  4|  David|  Male| 70000|     HR|
|  7|  Grace|Female| 53000|     HR|
| 10|   Jack|  Male| 58000|     HR|
|  3|Charlie|  Male| 55000|     IT|
|  6|  Frank|  Male| 62000|     IT|
|  8|  Helen|Female| 51000|     IT|
| 11|  Alice|Female| 50000|     IT|
+---+-------+------+------+-------+