In [1]:
import findspark
findspark.init('/home/akshay/spark-3.5.1-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_tutorials_1").getOrCreate()

24/06/14 19:06:24 WARN Utils: Your hostname, akshay-vm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/06/14 19:06:24 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/14 19:06:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/06/14 19:06:27 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/06/14 19:06:27 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [2]:
data1 = [
    (1, "Alice", "Female", 50000),
    (2, "Bob", "Male", 60000),
    (3, "Charlie", "Male", 55000)
]

In [3]:
data2 = [
    (4, "David", "Male", 70000),
    (5, "Eve", "Female", 48000),
    (6, "Frank", "Male", 62000)
]

In [4]:
df1 = spark.createDataFrame(data1, ["id", "name", "gender", "salary"])
df2 = spark.createDataFrame(data2, ["id", "name", "gender", "salary"])

In [5]:
df1.show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1|  Alice|Female| 50000|
|  2|    Bob|  Male| 60000|
|  3|Charlie|  Male| 55000|
+---+-------+------+------+

In [6]:
df2.show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  4|David|  Male| 70000|
|  5|  Eve|Female| 48000|
|  6|Frank|  Male| 62000|
+---+-----+------+------+

In [7]:
union_df = df1.union(df2)

In [8]:
union_df.show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1|  Alice|Female| 50000|
|  2|    Bob|  Male| 60000|
|  3|Charlie|  Male| 55000|
|  4|  David|  Male| 70000|
|  5|    Eve|Female| 48000|
|  6|  Frank|  Male| 62000|
+---+-------+------+------+

In [9]:
union_all_df = df1.unionAll(df2)

In [10]:
union_all_df.show()

+---+-------+------+------+
| id|   name|gender|salary|
+---+-------+------+------+
|  1|  Alice|Female| 50000|
|  2|    Bob|  Male| 60000|
|  3|Charlie|  Male| 55000|
|  4|  David|  Male| 70000|
|  5|    Eve|Female| 48000|
|  6|  Frank|  Male| 62000|
+---+-------+------+------+

unlike sql there is no difference between union and unionall in spark they both work as same