In [1]:
import findspark
findspark.init('/home/akshay/spark-3.5.1-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_tutorials_1").getOrCreate()

24/06/18 19:12:03 WARN Utils: Your hostname, akshay-vm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/06/18 19:12:03 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/18 19:12:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
data = [
    (1, 'Alice', 'Female', 60000, 'HR'),
    (2, 'Bob', 'Male', 75000, 'Engineering'),
    (3, 'Charlie', 'Male', 50000, 'Marketing'),
    (4, 'David', 'Male', 90000, 'Finance'),
    (5, 'Eve', 'Female', 55000, 'HR'),
    (6, 'Frank', 'Male', 80000, 'Engineering'),
    (7, 'Grace', 'Female', 70000, 'Marketing'),
    (8, 'Henry', 'Male', 62000, 'Finance'),
    (9, 'Ivy', 'Female', 68000, 'HR'),
    (10, 'Jack', 'Male', 72000, 'Engineering'),
    (11, 'Kate', 'Female', 48000, 'Marketing'),
    (12, 'Leo', 'Male', 85000, 'Finance'),
    (13, 'Mia', 'Female', 61000, 'HR'),
    (14, 'Nathan', 'Male', 77000, 'Engineering'),
    (15, 'Olivia', 'Female', 69000, 'Marketing'),
    (16, 'Peter', 'Male', 53000, 'Finance'),
    (17, 'Quinn', 'Female', 62000, 'HR'),
    (18, 'Ryan', 'Male', 74000, 'Engineering'),
    (19, 'Samantha', 'Female', 68000, 'Marketing'),
    (20, 'Tom', 'Male', 58000, 'Finance'),
    (21, 'Uma', 'Female', 64000, 'HR'),
    (22, 'Vincent', 'Male', 71000, 'Engineering'),
    (23, 'Wendy', 'Female', 66000, 'Marketing'),
    (24, 'Xavier', 'Male', 79000, 'Finance'),
    (25, 'Yvonne', 'Female', 59000, 'HR'),
    (26, 'Zack', 'Male', 73000, 'Engineering'),
    (27, 'Emily', 'Female', 67000, 'Marketing'),
    (28, 'Michael', 'Male', 82000, 'Finance'),
    (29, 'Sophia', 'Female', 60000, 'HR'),
    (30, 'Jacob', 'Male', 76000, 'Engineering'),
]

In [3]:
schema = ["id","name","gender","salary","dept"]

In [4]:
df = spark.createDataFrame(data=data, schema=schema)

In [5]:
df.show()

+---+--------+------+------+-----------+
| id|    name|gender|salary|       dept|
+---+--------+------+------+-----------+
|  1|   Alice|Female| 60000|         HR|
|  2|     Bob|  Male| 75000|Engineering|
|  3| Charlie|  Male| 50000|  Marketing|
|  4|   David|  Male| 90000|    Finance|
|  5|     Eve|Female| 55000|         HR|
|  6|   Frank|  Male| 80000|Engineering|
|  7|   Grace|Female| 70000|  Marketing|
|  8|   Henry|  Male| 62000|    Finance|
|  9|     Ivy|Female| 68000|         HR|
| 10|    Jack|  Male| 72000|Engineering|
| 11|    Kate|Female| 48000|  Marketing|
| 12|     Leo|  Male| 85000|    Finance|
| 13|     Mia|Female| 61000|         HR|
| 14|  Nathan|  Male| 77000|Engineering|
| 15|  Olivia|Female| 69000|  Marketing|
| 16|   Peter|  Male| 53000|    Finance|
| 17|   Quinn|Female| 62000|         HR|
| 18|    Ryan|  Male| 74000|Engineering|
| 19|Samantha|Female| 68000|  Marketing|
| 20|     Tom|  Male| 58000|    Finance|
+---+--------+------+------+-----------+
only showing top 20 rows

groupby functionality

In [7]:
help(df.groupBy)

Help on method groupBy in module pyspark.sql.dataframe:

groupBy(*cols: 'ColumnOrName') -> 'GroupedData' method of pyspark.sql.dataframe.DataFrame instance
    Groups the :class:`DataFrame` using the specified columns,
    so we can run aggregation on them. See :class:`GroupedData`
    for all the available aggregate functions.

    :func:`groupby` is an alias for :func:`groupBy`.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    cols : list, str or :class:`Column`
        columns to group by.
        Each element should be a column name (string) or an expression (:class:`Column`)
        or list of them.

    Returns
    -------
    :class:`GroupedData`
        Grouped data by given columns.

    Examples
    --------
    >>> df = spark.createDataFrame([
    ...     (2, "Alice"), (2, "Bob"), (2, "Bob"), (5, "Bob")], schema=["age", "name"])

    Empty grouping columns triggers a global aggregation.

    >>> df.groupBy().avg().show()
    +--------+
    |avg(age)|
    +--------+
    |    2.75|
    +--------+

    Group-by 'name', and specify a dictionary to calculate the summation of 'age'.

    >>> df.groupBy("name").agg({"age": "sum"}).sort("name").show()
    +-----+--------+
    | name|sum(age)|
    +-----+--------+
    |Alice|       2|
    |  Bob|       9|
    +-----+--------+

    Group-by 'name', and calculate maximum values.

    >>> df.groupBy(df.name).max().sort("name").show()
    +-----+--------+
    | name|max(age)|
    +-----+--------+
    |Alice|       2|
    |  Bob|       5|
    +-----+--------+

    Group-by 'name' and 'age', and calculate the number of rows in each group.

    >>> df.groupBy(["name", df.age]).count().sort("name", "age").show()
    +-----+---+-----+
    | name|age|count|
    +-----+---+-----+
    |Alice|  2|    1|
    |  Bob|  2|    2|
    |  Bob|  5|    1|
    +-----+---+-----+

In [8]:
from pyspark.sql.functions import col

In [9]:
group = df.groupBy(col("dept"))

In [10]:
type(group)

pyspark.sql.group.GroupedData

you can do aggrigation on groupBy

In [11]:
df1 = group.count()

In [12]:
df1.show()

+-----------+-----+
|       dept|count|
+-----------+-----+
|Engineering|    8|
|         HR|    8|
|    Finance|    7|
|  Marketing|    7|
+-----------+-----+

In [19]:
df2 = df.groupBy(col("gender"), col("dept")).max("salary")

In [20]:
df2.show()

+------+-----------+-----------+
|gender|       dept|max(salary)|
+------+-----------+-----------+
|Female|         HR|      68000|
|  Male|  Marketing|      50000|
|  Male|    Finance|      90000|
|Female|  Marketing|      70000|
|  Male|Engineering|      80000|
+------+-----------+-----------+

In [21]:
df3= df.groupBy(col("gender"), col("dept")).count()

In [22]:
df3.show()

+------+-----------+-----+
|gender|       dept|count|
+------+-----------+-----+
|Female|         HR|    8|
|  Male|  Marketing|    1|
|  Male|    Finance|    7|
|Female|  Marketing|    6|
|  Male|Engineering|    8|
+------+-----------+-----+

In [29]:
df4 = df.filter((col("gender") == "Male") & (col("dept") == "HR"))
df4.show()

+---+----+------+------+----+
| id|name|gender|salary|dept|
+---+----+------+------+----+
+---+----+------+------+----+