In [1]:
import findspark
findspark.init('/home/akshay/spark-3.5.1-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_tutorials_1").getOrCreate()

24/06/18 21:38:25 WARN Utils: Your hostname, akshay-vm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/06/18 21:38:25 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/18 21:38:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/06/18 21:38:28 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
data = [
    (1, 'Alice', 'Female', 60000, 'HR'),
    (2, 'Bob', 'Male', 75000, 'Engineering'),
    (3, 'Charlie', 'Male', 50000, 'Marketing'),
    (4, 'David', 'Male', 90000, 'Finance'),
    (5, 'Eve', 'Female', 55000, 'HR'),
    (6, 'Frank', 'Male', 80000, 'Engineering'),
    (7, 'Grace', 'Female', 70000, 'Marketing'),
    (8, 'Henry', 'Male', 62000, 'Finance'),
    (9, 'Ivy', 'Female', 68000, 'HR'),
    (10, 'Jack', 'Male', 72000, 'Engineering'),
    (11, 'Kate', 'Female', 48000, 'Marketing'),
    (12, 'Leo', 'Male', 85000, 'Finance'),
    (13, 'Mia', 'Female', 61000, 'HR'),
    (14, 'Nathan', 'Male', 77000, 'Engineering'),
    (15, 'Olivia', 'Female', 69000, 'Marketing'),
    (16, 'Peter', 'Male', 53000, 'Finance'),
    (17, 'Quinn', 'Female', 62000, 'HR'),
    (18, 'Ryan', 'Male', 74000, 'Engineering'),
    (19, 'Samantha', 'Female', 68000, 'Marketing'),
    (20, 'Tom', 'Male', 58000, 'Finance'),
    (21, 'Uma', 'Female', 64000, 'HR'),
    (22, 'Vincent', 'Male', 71000, 'Engineering'),
    (23, 'Wendy', 'Female', 66000, 'Marketing'),
    (24, 'Xavier', 'Male', 79000, 'Finance'),
    (25, 'Yvonne', 'Female', 59000, 'HR'),
    (26, 'Zack', 'Male', 73000, 'Engineering'),
    (27, 'Emily', 'Female', 67000, 'Marketing'),
    (28, 'Michael', 'Male', 82000, 'Finance'),
    (29, 'Sophia', 'Female', 60000, 'HR'),
    (30, 'Jacob', 'Male', 76000, 'Engineering'),
]

In [6]:
schema = ["id","name","gender","salary","dept"]

In [7]:
df = spark.createDataFrame(data=data, schema=schema)

In [8]:
df.show(n=5)

+---+-------+------+------+-----------+
| id|   name|gender|salary|       dept|
+---+-------+------+------+-----------+
|  1|  Alice|Female| 60000|         HR|
|  2|    Bob|  Male| 75000|Engineering|
|  3|Charlie|  Male| 50000|  Marketing|
|  4|  David|  Male| 90000|    Finance|
|  5|    Eve|Female| 55000|         HR|
+---+-------+------+------+-----------+
only showing top 5 rows

count min and max aggrigate function

In [9]:
help(df.groupBy("dept").agg)

Help on method agg in module pyspark.sql.group:

agg(*exprs: Union[pyspark.sql.column.Column, Dict[str, str]]) -> pyspark.sql.dataframe.DataFrame method of pyspark.sql.group.GroupedData instance
    Compute aggregates and returns the result as a :class:`DataFrame`.

    The available aggregate functions can be:

    1. built-in aggregation functions, such as `avg`, `max`, `min`, `sum`, `count`

    2. group aggregate pandas UDFs, created with :func:`pyspark.sql.functions.pandas_udf`

       .. note:: There is no partial aggregation with group aggregate UDFs, i.e.,
           a full shuffle is required. Also, all the data of a group will be loaded into
           memory, so the user should be aware of the potential OOM risk if data is skewed
           and certain groups are too large to fit in memory.

       .. seealso:: :func:`pyspark.sql.functions.pandas_udf`

    If ``exprs`` is a single :class:`dict` mapping from string to string, then the key
    is the column to perform aggregation on, and the value is the aggregate function.

    Alternatively, ``exprs`` can also be a list of aggregate :class:`Column` expressions.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    exprs : dict
        a dict mapping from column name (string) to aggregate functions (string),
        or a list of :class:`Column`.

    Notes
    -----
    Built-in aggregation functions and group aggregate pandas UDFs cannot be mixed
    in a single call to this function.

    Examples
    --------
    >>> from pyspark.sql import functions as sf
    >>> from pyspark.sql.functions import pandas_udf, PandasUDFType
    >>> df = spark.createDataFrame(
    ...      [(2, "Alice"), (3, "Alice"), (5, "Bob"), (10, "Bob")], ["age", "name"])
    >>> df.show()
    +---+-----+
    |age| name|
    +---+-----+
    |  2|Alice|
    |  3|Alice|
    |  5|  Bob|
    | 10|  Bob|
    +---+-----+

    Group-by name, and count each group.

    >>> df.groupBy(df.name)
    GroupedData[grouping...: [name...], value: [age: bigint, name: string], type: GroupBy]

    >>> df.groupBy(df.name).agg({"*": "count"}).sort("name").show()
    +-----+--------+
    | name|count(1)|
    +-----+--------+
    |Alice|       2|
    |  Bob|       2|
    +-----+--------+

    Group-by name, and calculate the minimum age.

    >>> df.groupBy(df.name).agg(sf.min(df.age)).sort("name").show()
    +-----+--------+
    | name|min(age)|
    +-----+--------+
    |Alice|       2|
    |  Bob|       5|
    +-----+--------+

    Same as above but uses pandas UDF.

    >>> @pandas_udf('int', PandasUDFType.GROUPED_AGG)  # doctest: +SKIP
    ... def min_udf(v):
    ...     return v.min()
    ...
    >>> df.groupBy(df.name).agg(min_udf(df.age)).sort("name").show()  # doctest: +SKIP
    +-----+------------+
    | name|min_udf(age)|
    +-----+------------+
    |Alice|           2|
    |  Bob|           5|
    +-----+------------+

In [13]:
from pyspark.sql.functions import col, count, min, max

In [15]:
df1 = df.groupBy(col("dept")).agg(  count("*").alias("Count_of_emp"), \
                                    min("salary").alias("min_salary"), \
                                    max("salary").alias("max_salary") \
                                )
df1.show()

+-----------+------------+----------+----------+
|       dept|Count_of_emp|min_salary|max_salary|
+-----------+------------+----------+----------+
|Engineering|           8|     71000|     80000|
|         HR|           8|     55000|     68000|
|    Finance|           7|     53000|     90000|
|  Marketing|           7|     48000|     70000|
+-----------+------------+----------+----------+