In [1]:
import findspark
findspark.init('/home/akshay/spark-3.5.1-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_tutorials_1").getOrCreate()

24/06/18 23:38:18 WARN Utils: Your hostname, akshay-vm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/06/18 23:38:18 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/18 23:38:19 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [9]:
from pyspark.sql import Row
from pyspark.sql.functions import lit

In [4]:
# Sample data for DataFrame 1
data1 = [
    Row(id=1, name='Alice', gender='Female', salary=60000, dept='HR'),
    Row(id=2, name='Bob', gender='Male', salary=75000, dept='Engineering')
]

In [5]:
# Sample data for DataFrame 2 (same schema as DataFrame 1)
data2 = [
    Row(id=3, name='Charlie', gender='Male', salary=50000, dept='Marketing'),
    Row(id=4, name='David', gender='Male', salary=90000, dept='Finance')
]

In [6]:
# Create DataFrames from RDDs
df1 = spark.createDataFrame(data1)
df2 = spark.createDataFrame(data2)

In [10]:
# Add an extra column to df2 to demonstrate alignment by name
df2 = df2.withColumn('bonus', lit(1000))

In [12]:
# Union by name
df_union = df1.unionByName(df2, allowMissingColumns=True)

In [13]:
# Show the result
print("====df1====")
df1.show()

# Show the result
print("====df2====")
df2.show()


# Show the result
print("====df_union====")
df_union.show()

====df1====

+---+-----+------+------+-----------+
| id| name|gender|salary|       dept|
+---+-----+------+------+-----------+
|  1|Alice|Female| 60000|         HR|
|  2|  Bob|  Male| 75000|Engineering|
+---+-----+------+------+-----------+

====df2====
+---+-------+------+------+---------+-----+
| id|   name|gender|salary|     dept|bonus|
+---+-------+------+------+---------+-----+
|  3|Charlie|  Male| 50000|Marketing| 1000|
|  4|  David|  Male| 90000|  Finance| 1000|
+---+-------+------+------+---------+-----+

====df_union====
+---+-------+------+------+-----------+-----+
| id|   name|gender|salary|       dept|bonus|
+---+-------+------+------+-----------+-----+
|  1|  Alice|Female| 60000|         HR| NULL|
|  2|    Bob|  Male| 75000|Engineering| NULL|
|  3|Charlie|  Male| 50000|  Marketing| 1000|
|  4|  David|  Male| 90000|    Finance| 1000|
+---+-------+------+------+-----------+-----+