In [1]:
import findspark
findspark.init('/home/akshay/spark-3.5.1-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_tutorials_1").getOrCreate()

24/06/22 09:41:12 WARN Utils: Your hostname, akshay-vm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/06/22 09:41:12 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/22 09:41:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
data = [
    (1, 'Alice', 'Female', 60000, 'HR'),
    (2, 'Bob', 'Male', 75000, 'Engineering'),
    (3, 'Charlie', 'Male', 50000, 'Marketing'),
    (4, 'David', 'Male', 90000, 'Finance'),
    (5, 'Eve', 'Female', 55000, 'HR'),
    (6, 'Frank', 'Male', 80000, 'Engineering'),
    (7, 'Grace', 'Female', 70000, 'Marketing'),
    (8, 'Henry', 'Male', 62000, 'Finance'),
    (9, 'Ivy', 'Female', 68000, 'HR'),
    (10, 'Jack', 'Male', 72000, 'Engineering'),
    (11, 'Kate', 'Female', 48000, 'Marketing'),
    (12, 'Leo', 'Male', 85000, 'Finance'),
    (13, 'Mia', 'Female', 61000, 'HR'),
    (14, 'Nathan', 'Male', 77000, 'Engineering'),
    (15, 'Olivia', 'Female', 69000, 'Marketing'),
    (16, 'Peter', 'Male', 53000, 'Finance'),
    (17, 'Quinn', 'Female', 62000, 'HR'),
    (18, 'Ryan', 'Male', 74000, 'Engineering'),
    (19, 'Samantha', 'Female', 68000, 'Marketing'),
    (20, 'Tom', 'Male', 58000, 'Finance'),
    (21, 'Uma', 'Female', 64000, 'HR'),
    (22, 'Vincent', 'Male', 71000, 'Engineering'),
    (23, 'Wendy', 'Female', 66000, 'Marketing'),
    (24, 'Xavier', 'Male', 79000, 'Finance'),
    (25, 'Yvonne', 'Female', 59000, 'HR'),
    (26, 'Zack', 'Male', 73000, 'Engineering'),
    (27, 'Emily', 'Female', 67000, 'Marketing'),
    (28, 'Michael', 'Male', 82000, 'Finance'),
    (29, 'Sophia', 'Female', 60000, 'HR'),
    (30, 'Jacob', 'Male', 76000, 'Engineering'),
]

In [3]:
schema = ["id","name","gender","salary","dept"]

In [4]:
df = spark.createDataFrame(data=data, schema=schema)

In [5]:
df.show()

+---+--------+------+------+-----------+
| id|    name|gender|salary|       dept|
+---+--------+------+------+-----------+
|  1|   Alice|Female| 60000|         HR|
|  2|     Bob|  Male| 75000|Engineering|
|  3| Charlie|  Male| 50000|  Marketing|
|  4|   David|  Male| 90000|    Finance|
|  5|     Eve|Female| 55000|         HR|
|  6|   Frank|  Male| 80000|Engineering|
|  7|   Grace|Female| 70000|  Marketing|
|  8|   Henry|  Male| 62000|    Finance|
|  9|     Ivy|Female| 68000|         HR|
| 10|    Jack|  Male| 72000|Engineering|
| 11|    Kate|Female| 48000|  Marketing|
| 12|     Leo|  Male| 85000|    Finance|
| 13|     Mia|Female| 61000|         HR|
| 14|  Nathan|  Male| 77000|Engineering|
| 15|  Olivia|Female| 69000|  Marketing|
| 16|   Peter|  Male| 53000|    Finance|
| 17|   Quinn|Female| 62000|         HR|
| 18|    Ryan|  Male| 74000|Engineering|
| 19|Samantha|Female| 68000|  Marketing|
| 20|     Tom|  Male| 58000|    Finance|
+---+--------+------+------+-----------+
only showing top 20 rows

In [6]:
help(df.select)

Help on method select in module pyspark.sql.dataframe:

select(*cols: 'ColumnOrName') -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Projects a set of expressions and returns a new :class:`DataFrame`.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    cols : str, :class:`Column`, or list
        column names (string) or expressions (:class:`Column`).
        If one of the column names is '*', that column is expanded to include all columns
        in the current :class:`DataFrame`.

    Returns
    -------
    :class:`DataFrame`
        A DataFrame with subset (or all) of columns.

    Examples
    --------
    >>> df = spark.createDataFrame([
    ...     (2, "Alice"), (5, "Bob")], schema=["age", "name"])

    Select all columns in the DataFrame.

    >>> df.select('*').show()
    +---+-----+
    |age| name|
    +---+-----+
    |  2|Alice|
    |  5|  Bob|
    +---+-----+

    Select a column with other expressions in the DataFrame.

    >>> df.select(df.name, (df.age + 10).alias('age')).show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice| 12|
    |  Bob| 15|
    +-----+---+

In [8]:
df.select("id","name").show()

+---+--------+
| id|    name|
+---+--------+
|  1|   Alice|
|  2|     Bob|
|  3| Charlie|
|  4|   David|
|  5|     Eve|
|  6|   Frank|
|  7|   Grace|
|  8|   Henry|
|  9|     Ivy|
| 10|    Jack|
| 11|    Kate|
| 12|     Leo|
| 13|     Mia|
| 14|  Nathan|
| 15|  Olivia|
| 16|   Peter|
| 17|   Quinn|
| 18|    Ryan|
| 19|Samantha|
| 20|     Tom|
+---+--------+
only showing top 20 rows

In [9]:
df.select(df["id"],df["name"]).show(n=5)

+---+-------+
| id|   name|
+---+-------+
|  1|  Alice|
|  2|    Bob|
|  3|Charlie|
|  4|  David|
|  5|    Eve|
+---+-------+
only showing top 5 rows

In [10]:
from pyspark.sql.functions import col

df.select(col("id"), col("name")).show(n=5)

+---+-------+
| id|   name|
+---+-------+
|  1|  Alice|
|  2|    Bob|
|  3|Charlie|
|  4|  David|
|  5|    Eve|
+---+-------+
only showing top 5 rows

In [12]:
df.select(["id","name"]).show(n=5)

+---+-------+
| id|   name|
+---+-------+
|  1|  Alice|
|  2|    Bob|
|  3|Charlie|
|  4|  David|
|  5|    Eve|
+---+-------+
only showing top 5 rows

In [13]:
df.select("*").show(n=5)

+---+-------+------+------+-----------+
| id|   name|gender|salary|       dept|
+---+-------+------+------+-----------+
|  1|  Alice|Female| 60000|         HR|
|  2|    Bob|  Male| 75000|Engineering|
|  3|Charlie|  Male| 50000|  Marketing|
|  4|  David|  Male| 90000|    Finance|
|  5|    Eve|Female| 55000|         HR|
+---+-------+------+------+-----------+
only showing top 5 rows

In [14]:
df.select([col for col in df.columns]).show(n=5)

+---+-------+------+------+-----------+
| id|   name|gender|salary|       dept|
+---+-------+------+------+-----------+
|  1|  Alice|Female| 60000|         HR|
|  2|    Bob|  Male| 75000|Engineering|
|  3|Charlie|  Male| 50000|  Marketing|
|  4|  David|  Male| 90000|    Finance|
|  5|    Eve|Female| 55000|         HR|
+---+-------+------+------+-----------+
only showing top 5 rows