In [40]:
import findspark
findspark.init('/home/akshay/spark-3.5.1-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_tutorials_1").getOrCreate()

In [41]:
employee_data = [
    (1, 'John Doe', 1001, 50000),
    (2, 'Jane Smith', 1002, 60000),
    (3, 'Michael Johnson', 1001, 55000),
    (4, 'Emily Davis', 1003, 65000),
    (5, 'David Brown', 1002, 62000),
    (6, 'Sarah Clark', 1003, 68000),
    (7, 'Kevin Lee', 1001, 51000),
    (8, 'Rachel Wilson', 1002, 59000),
    (9, 'Jason Martinez', 1001, 54000),
    (10, 'Laura Garcia', 1003, 70000),
    (11, 'Daniel Anderson', 1002, 63000),
    (12, 'Maria Rodriguez', 1003, 69000),
    (13, 'Eric Wright', 1001, 52000),
    (14, 'Olivia Thomas', 1003, 71000),
    (15, 'Andrew Scott', 1002, 60000),
    (16, 'Sophia Allen', 1004, 58000),   # New employee
    (17, 'Thomas Baker', 1001, 56000),   # New employee
    (18, 'Jessica White', 1004, 59000),  # New employee
    (19, 'Ryan King', 1002, 64000),      # New employee
    (20, 'Emma Young', 1004, 62000)  
]

In [42]:
employee_schema = ["_emp_id","emp_name","dept_id","emp_salary"]

In [43]:
emp_df = spark.createDataFrame(data=employee_data, schema=employee_schema)

In [44]:
emp_df.show()

+-------+---------------+-------+----------+
|_emp_id|       emp_name|dept_id|emp_salary|
+-------+---------------+-------+----------+
|      1|       John Doe|   1001|     50000|
|      2|     Jane Smith|   1002|     60000|
|      3|Michael Johnson|   1001|     55000|
|      4|    Emily Davis|   1003|     65000|
|      5|    David Brown|   1002|     62000|
|      6|    Sarah Clark|   1003|     68000|
|      7|      Kevin Lee|   1001|     51000|
|      8|  Rachel Wilson|   1002|     59000|
|      9| Jason Martinez|   1001|     54000|
|     10|   Laura Garcia|   1003|     70000|
|     11|Daniel Anderson|   1002|     63000|
|     12|Maria Rodriguez|   1003|     69000|
|     13|    Eric Wright|   1001|     52000|
|     14|  Olivia Thomas|   1003|     71000|
|     15|   Andrew Scott|   1002|     60000|
|     16|   Sophia Allen|   1004|     58000|
|     17|   Thomas Baker|   1001|     56000|
|     18|  Jessica White|   1004|     59000|
|     19|      Ryan King|   1002|     64000|
|     20|     Emma Young|   1004|     62000|
+-------+---------------+-------+----------+

In [45]:
# Sample data for departments
department_data = [
    (1001, 'HR'),
    (1002, 'IT'),
    (1003, 'Finance'),
    (1005, "sales"),
    (1006, "Marketing")
]

In [46]:
dept_schema = ["dept_id","dept_name"]

In [47]:
dept_df = spark.createDataFrame(data=department_data, schema=dept_schema)
dept_df.show()

+-------+---------+
|dept_id|dept_name|
+-------+---------+
|   1001|       HR|
|   1002|       IT|
|   1003|  Finance|
|   1005|    sales|
|   1006|Marketing|
+-------+---------+

join

In [48]:
help(emp_df.join)

Help on method join in module pyspark.sql.dataframe:

join(other: 'DataFrame', on: Union[str, List[str], pyspark.sql.column.Column, List[pyspark.sql.column.Column], NoneType] = None, how: Optional[str] = None) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Joins with another :class:`DataFrame`, using the given join expression.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    other : :class:`DataFrame`
        Right side of the join
    on : str, list or :class:`Column`, optional
        a string for the join column name, a list of column names,
        a join expression (Column), or a list of Columns.
        If `on` is a string or a list of strings indicating the name of the join column(s),
        the column(s) must exist on both sides, and this performs an equi-join.
    how : str, optional
        default ``inner``. Must be one of: ``inner``, ``cross``, ``outer``,
        ``full``, ``fullouter``, ``full_outer``, ``left``, ``leftouter``, ``left_outer``,
        ``right``, ``rightouter``, ``right_outer``, ``semi``, ``leftsemi``, ``left_semi``,
        ``anti``, ``leftanti`` and ``left_anti``.

    Returns
    -------
    :class:`DataFrame`
        Joined DataFrame.

    Examples
    --------
    The following performs a full outer join between ``df1`` and ``df2``.

    >>> from pyspark.sql import Row
    >>> from pyspark.sql.functions import desc
    >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")]).toDF("age", "name")
    >>> df2 = spark.createDataFrame([Row(height=80, name="Tom"), Row(height=85, name="Bob")])
    >>> df3 = spark.createDataFrame([Row(age=2, name="Alice"), Row(age=5, name="Bob")])
    >>> df4 = spark.createDataFrame([
    ...     Row(age=10, height=80, name="Alice"),
    ...     Row(age=5, height=None, name="Bob"),
    ...     Row(age=None, height=None, name="Tom"),
    ...     Row(age=None, height=None, name=None),
    ... ])

    Inner join on columns (default)

    >>> df.join(df2, 'name').select(df.name, df2.height).show()
    +----+------+
    |name|height|
    +----+------+
    | Bob|    85|
    +----+------+
    >>> df.join(df4, ['name', 'age']).select(df.name, df.age).show()
    +----+---+
    |name|age|
    +----+---+
    | Bob|  5|
    +----+---+

    Outer join for both DataFrames on the 'name' column.

    >>> df.join(df2, df.name == df2.name, 'outer').select(
    ...     df.name, df2.height).sort(desc("name")).show()
    +-----+------+
    | name|height|
    +-----+------+
    |  Bob|    85|
    |Alice|  NULL|
    | NULL|    80|
    +-----+------+
    >>> df.join(df2, 'name', 'outer').select('name', 'height').sort(desc("name")).show()
    +-----+------+
    | name|height|
    +-----+------+
    |  Tom|    80|
    |  Bob|    85|
    |Alice|  NULL|
    +-----+------+

    Outer join for both DataFrams with multiple columns.

    >>> df.join(
    ...     df3,
    ...     [df.name == df3.name, df.age == df3.age],
    ...     'outer'
    ... ).select(df.name, df3.age).show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  2|
    |  Bob|  5|
    +-----+---+

inner join

In [49]:
from pyspark.sql.functions import exp

In [50]:
inner_df = emp_df.join(dept_df, on=(emp_df.dept_id == dept_df.dept_id), how="inner")
inner_df.show()
print(inner_df.count())

+-------+---------------+-------+----------+-------+---------+
|_emp_id|       emp_name|dept_id|emp_salary|dept_id|dept_name|
+-------+---------------+-------+----------+-------+---------+
|      1|       John Doe|   1001|     50000|   1001|       HR|
|      3|Michael Johnson|   1001|     55000|   1001|       HR|
|      7|      Kevin Lee|   1001|     51000|   1001|       HR|
|      9| Jason Martinez|   1001|     54000|   1001|       HR|
|     13|    Eric Wright|   1001|     52000|   1001|       HR|
|     17|   Thomas Baker|   1001|     56000|   1001|       HR|
|      2|     Jane Smith|   1002|     60000|   1002|       IT|
|      5|    David Brown|   1002|     62000|   1002|       IT|
|      8|  Rachel Wilson|   1002|     59000|   1002|       IT|
|     11|Daniel Anderson|   1002|     63000|   1002|       IT|
|     15|   Andrew Scott|   1002|     60000|   1002|       IT|
|     19|      Ryan King|   1002|     64000|   1002|       IT|
|      4|    Emily Davis|   1003|     65000|   1003|  Finance|
|      6|    Sarah Clark|   1003|     68000|   1003|  Finance|
|     10|   Laura Garcia|   1003|     70000|   1003|  Finance|
|     12|Maria Rodriguez|   1003|     69000|   1003|  Finance|
|     14|  Olivia Thomas|   1003|     71000|   1003|  Finance|
+-------+---------------+-------+----------+-------+---------+

17

left join

In [51]:
left_df = emp_df.join(dept_df, on=(emp_df.dept_id == dept_df.dept_id), how="left")
left_df.show()
print(left_df.count())

+-------+---------------+-------+----------+-------+---------+
|_emp_id|       emp_name|dept_id|emp_salary|dept_id|dept_name|
+-------+---------------+-------+----------+-------+---------+
|      2|     Jane Smith|   1002|     60000|   1002|       IT|
|      5|    David Brown|   1002|     62000|   1002|       IT|
|      1|       John Doe|   1001|     50000|   1001|       HR|
|      3|Michael Johnson|   1001|     55000|   1001|       HR|
|      4|    Emily Davis|   1003|     65000|   1003|  Finance|
|      8|  Rachel Wilson|   1002|     59000|   1002|       IT|
|      7|      Kevin Lee|   1001|     51000|   1001|       HR|
|      9| Jason Martinez|   1001|     54000|   1001|       HR|
|      6|    Sarah Clark|   1003|     68000|   1003|  Finance|
|     10|   Laura Garcia|   1003|     70000|   1003|  Finance|
|     11|Daniel Anderson|   1002|     63000|   1002|       IT|
|     15|   Andrew Scott|   1002|     60000|   1002|       IT|
|     13|    Eric Wright|   1001|     52000|   1001|       HR|
|     12|Maria Rodriguez|   1003|     69000|   1003|  Finance|
|     14|  Olivia Thomas|   1003|     71000|   1003|  Finance|
|     19|      Ryan King|   1002|     64000|   1002|       IT|
|     17|   Thomas Baker|   1001|     56000|   1001|       HR|
|     16|   Sophia Allen|   1004|     58000|   NULL|     NULL|
|     18|  Jessica White|   1004|     59000|   NULL|     NULL|
|     20|     Emma Young|   1004|     62000|   NULL|     NULL|
+-------+---------------+-------+----------+-------+---------+

20

Right join

In [52]:
right_df = emp_df.join(dept_df, on=(emp_df.dept_id == dept_df.dept_id), how="right")
right_df.show()
print(right_df.count())

+-------+---------------+-------+----------+-------+---------+
|_emp_id|       emp_name|dept_id|emp_salary|dept_id|dept_name|
+-------+---------------+-------+----------+-------+---------+
|     17|   Thomas Baker|   1001|     56000|   1001|       HR|
|     13|    Eric Wright|   1001|     52000|   1001|       HR|
|      9| Jason Martinez|   1001|     54000|   1001|       HR|
|      7|      Kevin Lee|   1001|     51000|   1001|       HR|
|      3|Michael Johnson|   1001|     55000|   1001|       HR|
|      1|       John Doe|   1001|     50000|   1001|       HR|
|     19|      Ryan King|   1002|     64000|   1002|       IT|
|     15|   Andrew Scott|   1002|     60000|   1002|       IT|
|     11|Daniel Anderson|   1002|     63000|   1002|       IT|
|      8|  Rachel Wilson|   1002|     59000|   1002|       IT|
|      5|    David Brown|   1002|     62000|   1002|       IT|
|      2|     Jane Smith|   1002|     60000|   1002|       IT|
|     14|  Olivia Thomas|   1003|     71000|   1003|  Finance|
|     12|Maria Rodriguez|   1003|     69000|   1003|  Finance|
|     10|   Laura Garcia|   1003|     70000|   1003|  Finance|
|      6|    Sarah Clark|   1003|     68000|   1003|  Finance|
|      4|    Emily Davis|   1003|     65000|   1003|  Finance|
|   NULL|           NULL|   NULL|      NULL|   1005|    sales|
|   NULL|           NULL|   NULL|      NULL|   1006|Marketing|
+-------+---------------+-------+----------+-------+---------+

19

outer join

In [54]:
full_df = emp_df.join(dept_df, on=(emp_df.dept_id == dept_df.dept_id), how="outer")
full_df.show(n=22)
print(full_df.count())

+-------+---------------+-------+----------+-------+---------+
|_emp_id|       emp_name|dept_id|emp_salary|dept_id|dept_name|
+-------+---------------+-------+----------+-------+---------+
|      1|       John Doe|   1001|     50000|   1001|       HR|
|      3|Michael Johnson|   1001|     55000|   1001|       HR|
|      7|      Kevin Lee|   1001|     51000|   1001|       HR|
|      9| Jason Martinez|   1001|     54000|   1001|       HR|
|     13|    Eric Wright|   1001|     52000|   1001|       HR|
|     17|   Thomas Baker|   1001|     56000|   1001|       HR|
|      2|     Jane Smith|   1002|     60000|   1002|       IT|
|      5|    David Brown|   1002|     62000|   1002|       IT|
|      8|  Rachel Wilson|   1002|     59000|   1002|       IT|
|     11|Daniel Anderson|   1002|     63000|   1002|       IT|
|     15|   Andrew Scott|   1002|     60000|   1002|       IT|
|     19|      Ryan King|   1002|     64000|   1002|       IT|
|      4|    Emily Davis|   1003|     65000|   1003|  Finance|
|      6|    Sarah Clark|   1003|     68000|   1003|  Finance|
|     10|   Laura Garcia|   1003|     70000|   1003|  Finance|
|     12|Maria Rodriguez|   1003|     69000|   1003|  Finance|
|     14|  Olivia Thomas|   1003|     71000|   1003|  Finance|
|     16|   Sophia Allen|   1004|     58000|   NULL|     NULL|
|     18|  Jessica White|   1004|     59000|   NULL|     NULL|
|     20|     Emma Young|   1004|     62000|   NULL|     NULL|
|   NULL|           NULL|   NULL|      NULL|   1005|    sales|
|   NULL|           NULL|   NULL|      NULL|   1006|Marketing|
+-------+---------------+-------+----------+-------+---------+

22