In [1]:
import findspark
findspark.init('/home/akshay/spark-3.5.1-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_tutorials_1").getOrCreate()

24/06/22 12:13:45 WARN Utils: Your hostname, akshay-vm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/06/22 12:13:45 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/22 12:13:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
employee_data = [
    (1, 'John Doe', 1001, 50000),
    (2, 'Jane Smith', 1002, 60000),
    (3, 'Michael Johnson', 1001, 55000),
    (4, 'Emily Davis', 1003, 65000),
    (5, 'David Brown', 1002, 62000),
    (6, 'Sarah Clark', 1003, 68000),
    (7, 'Kevin Lee', 1001, 51000),
    (8, 'Rachel Wilson', 1002, 59000),
    (9, 'Jason Martinez', 1001, 54000),
    (10, 'Laura Garcia', 1003, 70000),
    (11, 'Daniel Anderson', 1002, 63000),
    (12, 'Maria Rodriguez', 1003, 69000),
    (13, 'Eric Wright', 1001, 52000),
    (14, 'Olivia Thomas', 1003, 71000),
    (15, 'Andrew Scott', 1002, 60000),
    (16, 'Sophia Allen', 1004, 58000),   # New employee
    (17, 'Thomas Baker', 1001, 56000),   # New employee
    (18, 'Jessica White', 1004, 59000),  # New employee
    (19, 'Ryan King', 1002, 64000),      # New employee
    (20, 'Emma Young', 1004, 62000)  
]

In [3]:
employee_schema = ["_emp_id","emp_name","dept_id","emp_salary"]

In [4]:
emp_df = spark.createDataFrame(data=employee_data, schema=employee_schema)

In [5]:
emp_df.show()

+-------+---------------+-------+----------+
|_emp_id|       emp_name|dept_id|emp_salary|
+-------+---------------+-------+----------+
|      1|       John Doe|   1001|     50000|
|      2|     Jane Smith|   1002|     60000|
|      3|Michael Johnson|   1001|     55000|
|      4|    Emily Davis|   1003|     65000|
|      5|    David Brown|   1002|     62000|
|      6|    Sarah Clark|   1003|     68000|
|      7|      Kevin Lee|   1001|     51000|
|      8|  Rachel Wilson|   1002|     59000|
|      9| Jason Martinez|   1001|     54000|
|     10|   Laura Garcia|   1003|     70000|
|     11|Daniel Anderson|   1002|     63000|
|     12|Maria Rodriguez|   1003|     69000|
|     13|    Eric Wright|   1001|     52000|
|     14|  Olivia Thomas|   1003|     71000|
|     15|   Andrew Scott|   1002|     60000|
|     16|   Sophia Allen|   1004|     58000|
|     17|   Thomas Baker|   1001|     56000|
|     18|  Jessica White|   1004|     59000|
|     19|      Ryan King|   1002|     64000|
|     20|     Emma Young|   1004|     62000|
+-------+---------------+-------+----------+

In [6]:
# Sample data for departments
department_data = [
    (1001, 'HR'),
    (1002, 'IT'),
    (1003, 'Finance'),
    (1005, "sales"),
    (1006, "Marketing")
]

In [7]:
dept_schema = ["dept_id","dept_name"]

In [8]:
dept_df = spark.createDataFrame(data=department_data, schema=dept_schema)
dept_df.show()

+-------+---------+
|dept_id|dept_name|
+-------+---------+
|   1001|       HR|
|   1002|       IT|
|   1003|  Finance|
|   1005|    sales|
|   1006|Marketing|
+-------+---------+

semileft

In [9]:
left_semi_df = emp_df.join(dept_df, on=(emp_df.dept_id == dept_df.dept_id), how="leftsemi")
left_semi_df.show()
print(left_semi_df.count())

+-------+---------------+-------+----------+
|_emp_id|       emp_name|dept_id|emp_salary|
+-------+---------------+-------+----------+
|      1|       John Doe|   1001|     50000|
|      3|Michael Johnson|   1001|     55000|
|      7|      Kevin Lee|   1001|     51000|
|      9| Jason Martinez|   1001|     54000|
|     13|    Eric Wright|   1001|     52000|
|     17|   Thomas Baker|   1001|     56000|
|      2|     Jane Smith|   1002|     60000|
|      5|    David Brown|   1002|     62000|
|      8|  Rachel Wilson|   1002|     59000|
|     11|Daniel Anderson|   1002|     63000|
|     15|   Andrew Scott|   1002|     60000|
|     19|      Ryan King|   1002|     64000|
|      4|    Emily Davis|   1003|     65000|
|      6|    Sarah Clark|   1003|     68000|
|     10|   Laura Garcia|   1003|     70000|
|     12|Maria Rodriguez|   1003|     69000|
|     14|  Olivia Thomas|   1003|     71000|
+-------+---------------+-------+----------+

17

leftanti join

In [10]:
left_anti_df = emp_df.join(dept_df, on=(emp_df.dept_id == dept_df.dept_id), how="left_anti")
left_anti_df.show()
print(left_anti_df.count())

+-------+-------------+-------+----------+
|_emp_id|     emp_name|dept_id|emp_salary|
+-------+-------------+-------+----------+
|     16| Sophia Allen|   1004|     58000|
|     18|Jessica White|   1004|     59000|
|     20|   Emma Young|   1004|     62000|
+-------+-------------+-------+----------+

3

self join

In [50]:
pdata = [
    (1, "tony", 0),
    (2, "vision", 1),
    (3, "stev rojers", 11),
    (4, "ant man", 3),
    (5, "black panther", 3),
    (6, "winter solder", 3),
    (7, "falkan", 1),
    (8, "black wido", 1),
    (9, "spiderman", 1)
]

In [51]:
schema = ["super_id","super_name","leader_id"]

In [52]:
df = spark.createDataFrame(data=pdata, schema = schema)

In [53]:
df.show()

+--------+-------------+---------+
|super_id|   super_name|leader_id|
+--------+-------------+---------+
|       1|         tony|        0|
|       2|       vision|        1|
|       3|  stev rojers|       11|
|       4|      ant man|        3|
|       5|black panther|        3|
|       6|winter solder|        3|
|       7|       falkan|        1|
|       8|   black wido|        1|
|       9|    spiderman|        1|
+--------+-------------+---------+

In [54]:
from pyspark.sql.functions import col

In [55]:
self_join_df = df.alias("sup_df").join(df.alias("lead_df"),
                                       col("sup_df.leader_id") == col("lead_df.super_id"),
                                       "inner") \
                                        .select(col("sup_df.super_name").alias("superhero"),
                                                col("lead_df.super_name").alias("leaderName")
                                                )

In [56]:
self_join_df.show()

+-------------+-----------+
|    superhero| leaderName|
+-------------+-----------+
|       vision|       tony|
|       falkan|       tony|
|   black wido|       tony|
|    spiderman|       tony|
|      ant man|stev rojers|
|black panther|stev rojers|
|winter solder|stev rojers|
+-------------+-----------+