In [1]:
import findspark
findspark.init('/home/akshay/spark-3.5.1-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_tutorials_1").getOrCreate()

24/06/22 14:03:26 WARN Utils: Your hostname, akshay-vm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/06/22 14:03:26 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/22 14:03:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/06/22 14:03:30 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
employees = [
    (1, 'Alice', 'Female', 'HR'),
    (2, 'Bob', 'Male', 'IT'),
    (3, 'Charlie', 'Male', 'Finance'),
    (4, 'Diana', 'Female', 'Marketing'),
    (5, 'Eve', 'Female', 'Sales'),
    (6, 'Frank', 'Male', 'Engineering'),
    (7, 'Grace', 'Female', 'HR'),
    (8, 'Henry', 'Male', 'Finance'),
    (9, 'Ivy', 'Female', 'IT'),
    (10, 'Jack', 'Male', 'Marketing'),
    (11, 'Kate', 'Female', 'Engineering'),
    (12, 'Leo', 'Male', 'Sales'),
    (13, 'Mia', 'Female', 'IT'),
    (14, 'Nathan', 'Male', 'HR'),
    (15, 'Olivia', 'Female', 'Marketing')
]

In [3]:
schema = ["id","name","gender","depertment"]

In [4]:
df = spark.createDataFrame(data=employees, schema=schema)

In [5]:
df.show()

+---+-------+------+-----------+
| id|   name|gender| depertment|
+---+-------+------+-----------+
|  1|  Alice|Female|         HR|
|  2|    Bob|  Male|         IT|
|  3|Charlie|  Male|    Finance|
|  4|  Diana|Female|  Marketing|
|  5|    Eve|Female|      Sales|
|  6|  Frank|  Male|Engineering|
|  7|  Grace|Female|         HR|
|  8|  Henry|  Male|    Finance|
|  9|    Ivy|Female|         IT|
| 10|   Jack|  Male|  Marketing|
| 11|   Kate|Female|Engineering|
| 12|    Leo|  Male|      Sales|
| 13|    Mia|Female|         IT|
| 14| Nathan|  Male|         HR|
| 15| Olivia|Female|  Marketing|
+---+-------+------+-----------+

In [6]:
count_df = df.groupBy("depertment", "gender").count()

In [7]:
count_df.show()

+-----------+------+-----+
| depertment|gender|count|
+-----------+------+-----+
|         IT|  Male|    1|
|    Finance|  Male|    2|
|         HR|Female|    2|
|Engineering|  Male|    1|
|  Marketing|Female|    2|
|      Sales|Female|    1|
|         IT|Female|    2|
|         HR|  Male|    1|
|Engineering|Female|    1|
|      Sales|  Male|    1|
|  Marketing|  Male|    1|
+-----------+------+-----+

pivot transformation

In [8]:
pivot_df = df.groupBy("depertment").pivot("gender").count()

In [9]:
pivot_df.show()

+-----------+------+----+
| depertment|Female|Male|
+-----------+------+----+
|      Sales|     1|   1|
|Engineering|     1|   1|
|         HR|     2|   1|
|    Finance|  NULL|   2|
|  Marketing|     2|   1|
|         IT|     2|   1|
+-----------+------+----+

we can have specific column as well

In [13]:
pivot_df_1 = df.groupBy("depertment").pivot("gender",["male"]).count()
pivot_df_1.show()

+-----------+----+
| depertment|male|
+-----------+----+
|      Sales|NULL|
|Engineering|NULL|
|         HR|NULL|
|    Finance|NULL|
|  Marketing|NULL|
|         IT|NULL|
+-----------+----+

In [14]:
pivot_df_2 = df.groupBy("gender").pivot("depertment",["Sales","IT","Marketing"]).count()
pivot_df_2.show()

+------+-----+---+---------+
|gender|Sales| IT|Marketing|
+------+-----+---+---------+
|Female|    1|  2|        2|
|  Male|    1|  1|        1|
+------+-----+---+---------+