In [1]:
import findspark
findspark.init('/home/akshay/spark-3.5.1-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_tutorials_1").getOrCreate()

24/06/22 22:02:25 WARN Utils: Your hostname, akshay-vm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/06/22 22:02:25 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/22 22:02:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
employees = [
    (1, 'Alice', 'Female', 'HR'),
    (2, 'Bob', 'Male', 'IT'),
    (3, 'Charlie', 'Male', 'Finance'),
    (4, 'Diana', None, 'Marketing'),
    (5, 'Eve', 'Female', 'Sales'),
    (6, 'Frank', 'Male', None),
    (7, 'Grace', 'Female', 'HR'),
    (8, 'Henry', 'Male', 'Finance'),
    (9, 'Ivy', 'Female', 'IT'),
    (10, 'Jack', None, 'Marketing'),
    (11, 'Kate', 'Female', 'Engineering'),
    (12, 'Leo', 'Male', 'Sales'),
    (13, None, 'Female', 'IT'),
    (14, 'Nathan', 'Male', 'HR'),
    (15, 'Olivia', 'Female', 'Marketing')
]

In [3]:
schema = ["id","name","gender","dept"]

In [4]:
df = spark.createDataFrame(data=employees, schema=schema)
df.show()

+---+-------+------+-----------+
| id|   name|gender|       dept|
+---+-------+------+-----------+
|  1|  Alice|Female|         HR|
|  2|    Bob|  Male|         IT|
|  3|Charlie|  Male|    Finance|
|  4|  Diana|  NULL|  Marketing|
|  5|    Eve|Female|      Sales|
|  6|  Frank|  Male|       NULL|
|  7|  Grace|Female|         HR|
|  8|  Henry|  Male|    Finance|
|  9|    Ivy|Female|         IT|
| 10|   Jack|  NULL|  Marketing|
| 11|   Kate|Female|Engineering|
| 12|    Leo|  Male|      Sales|
| 13|   NULL|Female|         IT|
| 14| Nathan|  Male|         HR|
| 15| Olivia|Female|  Marketing|
+---+-------+------+-----------+

fillna

In [6]:
help(df.fillna)

Help on method fillna in module pyspark.sql.dataframe:

fillna(value: Union[ForwardRef('LiteralType'), Dict[str, ForwardRef('LiteralType')]], subset: Union[str, Tuple[str, ...], List[str], NoneType] = None) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Replace null values, alias for ``na.fill()``.
    :func:`DataFrame.fillna` and :func:`DataFrameNaFunctions.fill` are aliases of each other.

    .. versionadded:: 1.3.1

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    value : int, float, string, bool or dict
        Value to replace null values with.
        If the value is a dict, then `subset` is ignored and `value` must be a mapping
        from column name (string) to replacement value. The replacement value must be
        an int, float, boolean, or string.
    subset : str, tuple or list, optional
        optional list of column names to consider.
        Columns specified in subset that do not have matching data types are ignored.
        For example, if `value` is a string, and subset contains a non-string column,
        then the non-string column is simply ignored.

    Returns
    -------
    :class:`DataFrame`
        DataFrame with replaced null values.

    Examples
    --------
    >>> df = spark.createDataFrame([
    ...     (10, 80.5, "Alice", None),
    ...     (5, None, "Bob", None),
    ...     (None, None, "Tom", None),
    ...     (None, None, None, True)],
    ...     schema=["age", "height", "name", "bool"])

    Fill all null values with 50 for numeric columns.

    >>> df.na.fill(50).show()
    +---+------+-----+----+
    |age|height| name|bool|
    +---+------+-----+----+
    | 10|  80.5|Alice|NULL|
    |  5|  50.0|  Bob|NULL|
    | 50|  50.0|  Tom|NULL|
    | 50|  50.0| NULL|true|
    +---+------+-----+----+

    Fill all null values with ``False`` for boolean columns.

    >>> df.na.fill(False).show()
    +----+------+-----+-----+
    | age|height| name| bool|
    +----+------+-----+-----+
    |  10|  80.5|Alice|false|
    |   5|  NULL|  Bob|false|
    |NULL|  NULL|  Tom|false|
    |NULL|  NULL| NULL| true|
    +----+------+-----+-----+

    Fill all null values with to 50 and "unknown" for 'age' and 'name' column respectively.

    >>> df.na.fill({'age': 50, 'name': 'unknown'}).show()
    +---+------+-------+----+
    |age|height|   name|bool|
    +---+------+-------+----+
    | 10|  80.5|  Alice|NULL|
    |  5|  NULL|    Bob|NULL|
    | 50|  NULL|    Tom|NULL|
    | 50|  NULL|unknown|true|
    +---+------+-------+----+

In [5]:
df1 = df.fillna("unknown")
df1.show()

+---+-------+-------+-----------+
| id|   name| gender|       dept|
+---+-------+-------+-----------+
|  1|  Alice| Female|         HR|
|  2|    Bob|   Male|         IT|
|  3|Charlie|   Male|    Finance|
|  4|  Diana|unknown|  Marketing|
|  5|    Eve| Female|      Sales|
|  6|  Frank|   Male|    unknown|
|  7|  Grace| Female|         HR|
|  8|  Henry|   Male|    Finance|
|  9|    Ivy| Female|         IT|
| 10|   Jack|unknown|  Marketing|
| 11|   Kate| Female|Engineering|
| 12|    Leo|   Male|      Sales|
| 13|unknown| Female|         IT|
| 14| Nathan|   Male|         HR|
| 15| Olivia| Female|  Marketing|
+---+-------+-------+-----------+

In [7]:
df2 = df.fillna("unknown",["gender","name"])
df2.show()

+---+-------+-------+-----------+
| id|   name| gender|       dept|
+---+-------+-------+-----------+
|  1|  Alice| Female|         HR|
|  2|    Bob|   Male|         IT|
|  3|Charlie|   Male|    Finance|
|  4|  Diana|unknown|  Marketing|
|  5|    Eve| Female|      Sales|
|  6|  Frank|   Male|       NULL|
|  7|  Grace| Female|         HR|
|  8|  Henry|   Male|    Finance|
|  9|    Ivy| Female|         IT|
| 10|   Jack|unknown|  Marketing|
| 11|   Kate| Female|Engineering|
| 12|    Leo|   Male|      Sales|
| 13|unknown| Female|         IT|
| 14| Nathan|   Male|         HR|
| 15| Olivia| Female|  Marketing|
+---+-------+-------+-----------+

In [8]:
df3 = df.na.fill("unknown")
df3.show()

+---+-------+-------+-----------+
| id|   name| gender|       dept|
+---+-------+-------+-----------+
|  1|  Alice| Female|         HR|
|  2|    Bob|   Male|         IT|
|  3|Charlie|   Male|    Finance|
|  4|  Diana|unknown|  Marketing|
|  5|    Eve| Female|      Sales|
|  6|  Frank|   Male|    unknown|
|  7|  Grace| Female|         HR|
|  8|  Henry|   Male|    Finance|
|  9|    Ivy| Female|         IT|
| 10|   Jack|unknown|  Marketing|
| 11|   Kate| Female|Engineering|
| 12|    Leo|   Male|      Sales|
| 13|unknown| Female|         IT|
| 14| Nathan|   Male|         HR|
| 15| Olivia| Female|  Marketing|
+---+-------+-------+-----------+