In [1]:
import findspark
findspark.init('/home/akshay/spark-3.5.1-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_tutorials_1").getOrCreate()

24/06/23 21:58:39 WARN Utils: Your hostname, akshay-vm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/06/23 21:58:39 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/23 21:58:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
data = [
    (1, "Alice", "Female", 60000, "HR"),
    (2, "Bob", "Male", 80000, "Engineering"),
    (3, "Charlie", "Male", 75000, "Marketing"),
    (4, "Diana", "Female", 90000, "Finance"),
    (5, "Eve", "Female", 70000, "Engineering"),]

### PySpark `transform` Function: Overview and Usage

The `transform` function in PySpark is used to apply a function to each element (row) of a DataFrame or RDD independently and return a new DataFrame or RDD with the transformed elements. It operates similarly to `map` in RDDs but extends to DataFrames and allows for more concise and readable code.

#### Syntax

For DataFrames:
```python
# Assuming 'df' is a DataFrame
transformed_df = df.rdd.map(lambda row: transformation_function(row)).toDF(df.schema)

In [3]:
schema = ["id", "name", "gender","salary","dept"]

In [4]:
df = spark.createDataFrame(data=data, schema=schema)
df.show()

+---+-------+------+------+-----------+
| id|   name|gender|salary|       dept|
+---+-------+------+------+-----------+
|  1|  Alice|Female| 60000|         HR|
|  2|    Bob|  Male| 80000|Engineering|
|  3|Charlie|  Male| 75000|  Marketing|
|  4|  Diana|Female| 90000|    Finance|
|  5|    Eve|Female| 70000|Engineering|
+---+-------+------+------+-----------+

convert the names to uppercase and double the salary

In [5]:
from pyspark.sql.functions import upper, col

In [6]:
def convertToUpperAndDoubleSalary(df):
    df1 = df.withColumn("name", upper(col("name")))
    df2 = df1.withColumn("salary", df1.salary*2)
    return df2

In [7]:
df.show()
df3 = df.transform(convertToUpperAndDoubleSalary)
df3.show()

+---+-------+------+------+-----------+
| id|   name|gender|salary|       dept|
+---+-------+------+------+-----------+
|  1|  Alice|Female| 60000|         HR|
|  2|    Bob|  Male| 80000|Engineering|
|  3|Charlie|  Male| 75000|  Marketing|
|  4|  Diana|Female| 90000|    Finance|
|  5|    Eve|Female| 70000|Engineering|
+---+-------+------+------+-----------+

+---+-------+------+------+-----------+
| id|   name|gender|salary|       dept|
+---+-------+------+------+-----------+
|  1|  ALICE|Female|120000|         HR|
|  2|    BOB|  Male|160000|Engineering|
|  3|CHARLIE|  Male|150000|  Marketing|
|  4|  DIANA|Female|180000|    Finance|
|  5|    EVE|Female|140000|Engineering|
+---+-------+------+------+-----------+