In [1]:
import findspark
findspark.init('/home/akshay/spark-3.5.1-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_tutorials_1").getOrCreate()

24/06/23 22:31:36 WARN Utils: Your hostname, akshay-vm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/06/23 22:31:36 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/23 22:31:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/06/23 22:31:38 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
data = [(1,"tony",["Azure","dotnet"]),
        (2,"stew",["aws","java"])]

In [3]:
schena = ["id", "name","skills"]

In [4]:
df = spark.createDataFrame(data=data, schema=schena)

In [5]:
df.show()

+---+----+---------------+
| id|name|         skills|
+---+----+---------------+
|  1|tony|[Azure, dotnet]|
|  2|stew|    [aws, java]|
+---+----+---------------+

In [7]:
from pyspark.sql.functions import transform, upper

In [8]:
df.show()
df1 = df.select("id","name", transform("skills",lambda x: upper(x)).alias("skills"))
df1.show()

+---+----+---------------+
| id|name|         skills|
+---+----+---------------+
|  1|tony|[Azure, dotnet]|
|  2|stew|    [aws, java]|
+---+----+---------------+

+---+----+---------------+
| id|name|         skills|
+---+----+---------------+
|  1|tony|[AZURE, DOTNET]|
|  2|stew|    [AWS, JAVA]|
+---+----+---------------+