In [1]:
import findspark
findspark.init('/home/akshay/spark-3.5.1-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_tutorials_1").getOrCreate()

24/06/23 23:17:44 WARN Utils: Your hostname, akshay-vm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/06/23 23:17:44 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/23 23:17:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/06/23 23:17:46 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/06/23 23:17:46 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [2]:
data = [
    (1, "Alice", "Female", 60000, "HR"),
    (2, "Bob", "Male", 80000, "Engineering"),
    (3, "Charlie", "Male", 75000, "Marketing"),
    (4, "Diana", "Female", 90000, "Finance"),
    (5, "Eve", "Female", 70000, "Engineering"),
    (6, "Frank", "Male", 85000, "HR"),
    (7, "Gina", "Female", 65000, "Marketing"),
    (8, "Henry", "Male", 95000, "Finance"),
    (9, "Irene", "Female", 72000, "Engineering"),
    (10, "John", "Male", 78000, "HR")
]

In [3]:
schema = ["id", "name","gender","salary","dept"]

In [4]:
df = spark.createDataFrame(data=data, schema=schema)
df.show()

+---+-------+------+------+-----------+
| id|   name|gender|salary|       dept|
+---+-------+------+------+-----------+
|  1|  Alice|Female| 60000|         HR|
|  2|    Bob|  Male| 80000|Engineering|
|  3|Charlie|  Male| 75000|  Marketing|
|  4|  Diana|Female| 90000|    Finance|
|  5|    Eve|Female| 70000|Engineering|
|  6|  Frank|  Male| 85000|         HR|
|  7|   Gina|Female| 65000|  Marketing|
|  8|  Henry|  Male| 95000|    Finance|
|  9|  Irene|Female| 72000|Engineering|
| 10|   John|  Male| 78000|         HR|
+---+-------+------+------+-----------+

## `createOrReplaceTempView` in PySpark

### Syntax

The syntax for `createOrReplaceTempView` in PySpark is as follows:

```python
DataFrame.createOrReplaceTempView(viewName)

Overview

In PySpark, createOrReplaceTempView is a method used to create or replace a temporary view from a DataFrame. This temporary view allows you to query the DataFrame using SQL-like syntax, enabling seamless integration of SQL operations with Spark's DataFrame API.
#### Key Points

* Temporary View: Registers the DataFrame as a temporary table or view within the Spark Session.
* Scope: Exists only within the session where it was created and is automatically removed when the session ends.
* Replacement: If a temporary view with the same name already exists, it will be replaced with the new DataFrame.
* SQL Queries: Enables performing SQL queries directly on the registered temporary view, leveraging Spark's SQL capabilities.

#### Functionality

The primary functionality of createOrReplaceTempView includes:

* SQL Integration: Facilitates SQL-like operations on DataFrames, allowing users to query data using familiar SQL syntax.
* Data Manipulation: Provides a structured way to manipulate and transform data within the DataFrame using SQL queries.
* Temporary Storage: Stores the DataFrame temporarily as a view, enabling iterative data exploration and analysis.

#### Benefits

* SQL Compatibility: Allows SQL users to leverage their SQL skills directly on Spark DataFrames.
* Performance Optimization: Utilizes Spark's optimized execution engine for efficient query processing.
* Flexibility: Supports seamless integration with other Spark operations and libraries, enhancing productivity and code maintainability.
* Data Exploration: Enables interactive data exploration and ad-hoc querying of DataFrame content.

In [5]:
df.createOrReplaceTempView("employee")

In [10]:
df1 = spark.sql("SELECT * FROM employee WHERE gender = 'Female'")
df1.show()

+---+-----+------+------+-----------+
| id| name|gender|salary|       dept|
+---+-----+------+------+-----------+
|  1|Alice|Female| 60000|         HR|
|  4|Diana|Female| 90000|    Finance|
|  5|  Eve|Female| 70000|Engineering|
|  7| Gina|Female| 65000|  Marketing|
|  9|Irene|Female| 72000|Engineering|
+---+-----+------+------+-----------+