In [1]:
import findspark
findspark.init('/home/akshay/spark-3.5.1-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_tutorials_1").getOrCreate()

24/06/24 09:50:11 WARN Utils: Your hostname, akshay-vm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/06/24 09:50:11 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/24 09:50:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
employees = [
    (1, 'John Doe', 50000, 2000),
    (2, 'Jane Smith', 60000, 2500),
    (3, 'Michael Johnson', 55000, 2200),
    (4, 'Emily Davis', 52000, 1800),
    (5, 'Chris Brown', 58000, 2700),
    (6, 'Sarah Wilson', 53000, 2000),
    (7, 'Kevin Lee', 51000, 1900),
    (8, 'Jessica Moore', 59000, 2600),
    (9, 'David Anderson', 54000, 2100),
    (10, 'Amy Taylor', 57000, 2400)
]

In [3]:
data_rdd = spark.sparkContext.parallelize(employees)

In [4]:
data_rdd

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:289

In [5]:
type(data_rdd)

pyspark.rdd.RDD

convert rdd to df

In [10]:
df =data_rdd.toDF(["id","name","salary","nonas"])

In [11]:
df.show()

+---+---------------+------+-----+
| id|           name|salary|nonas|
+---+---------------+------+-----+
|  1|       John Doe| 50000| 2000|
|  2|     Jane Smith| 60000| 2500|
|  3|Michael Johnson| 55000| 2200|
|  4|    Emily Davis| 52000| 1800|
|  5|    Chris Brown| 58000| 2700|
|  6|   Sarah Wilson| 53000| 2000|
|  7|      Kevin Lee| 51000| 1900|
|  8|  Jessica Moore| 59000| 2600|
|  9| David Anderson| 54000| 2100|
| 10|     Amy Taylor| 57000| 2400|
+---+---------------+------+-----+

In [12]:
data_list = data_rdd.collect()

In [13]:
data_list

[(1, 'John Doe', 50000, 2000),
 (2, 'Jane Smith', 60000, 2500),
 (3, 'Michael Johnson', 55000, 2200),
 (4, 'Emily Davis', 52000, 1800),
 (5, 'Chris Brown', 58000, 2700),
 (6, 'Sarah Wilson', 53000, 2000),
 (7, 'Kevin Lee', 51000, 1900),
 (8, 'Jessica Moore', 59000, 2600),
 (9, 'David Anderson', 54000, 2100),
 (10, 'Amy Taylor', 57000, 2400)]