In [1]:
import findspark
findspark.init('/home/akshay/spark-3.5.1-bin-hadoop3')
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("spark_tutorials_1").getOrCreate()

24/06/29 22:35:30 WARN Utils: Your hostname, akshay-vm resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/06/29 22:35:30 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/29 22:35:31 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/06/29 22:35:34 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
data = [
    (1, "Alice", "Female", 60000, "HR"),
    (2, "Bob", "Male", 80000, "Engineering"),
    (3, "Charlie", "Male", 75000, "HR"),
    (4, "Diana", "Female", 90000, "Finance"),
    (5, "Eve", "Female", 70000, "Engineering"),
    (6, "Frank", "Male", 85000, "HR"),
    (7, "Gina", "Female", 65000, "Finance"),
    (8, "Henry", "Male", 95000, "Finance"),
    (9, "Irene", "Female", 72000, "Engineering"),
    (10, "John", "Male", 78000, "HR"),
    (10, "Stew", "Male", 78000, "HR")
]

In [3]:
schema = ["id","name","gender","salary","dept"]

In [4]:
df = spark.createDataFrame(data=data, schema=schema)
df.show()

+---+-------+------+------+-----------+
| id|   name|gender|salary|       dept|
+---+-------+------+------+-----------+
|  1|  Alice|Female| 60000|         HR|
|  2|    Bob|  Male| 80000|Engineering|
|  3|Charlie|  Male| 75000|         HR|
|  4|  Diana|Female| 90000|    Finance|
|  5|    Eve|Female| 70000|Engineering|
|  6|  Frank|  Male| 85000|         HR|
|  7|   Gina|Female| 65000|    Finance|
|  8|  Henry|  Male| 95000|    Finance|
|  9|  Irene|Female| 72000|Engineering|
| 10|   John|  Male| 78000|         HR|
| 10|   Stew|  Male| 78000|         HR|
+---+-------+------+------+-----------+

In [5]:
from pyspark.sql.functions import row_number, rank, dense_rank
from pyspark.sql.window import Window

In [6]:
window = Window.partitionBy("dept").orderBy("salary")

In [7]:
df1 = df.withColumn("row_number", row_number().over(window))
df1.show()

+---+-------+------+------+-----------+----------+
| id|   name|gender|salary|       dept|row_number|
+---+-------+------+------+-----------+----------+
|  5|    Eve|Female| 70000|Engineering|         1|
|  9|  Irene|Female| 72000|Engineering|         2|
|  2|    Bob|  Male| 80000|Engineering|         3|
|  7|   Gina|Female| 65000|    Finance|         1|
|  4|  Diana|Female| 90000|    Finance|         2|
|  8|  Henry|  Male| 95000|    Finance|         3|
|  1|  Alice|Female| 60000|         HR|         1|
|  3|Charlie|  Male| 75000|         HR|         2|
| 10|   John|  Male| 78000|         HR|         3|
| 10|   Stew|  Male| 78000|         HR|         4|
|  6|  Frank|  Male| 85000|         HR|         5|
+---+-------+------+------+-----------+----------+

In [8]:
df2 = df1.withColumn("rank", rank().over(window))
df2.show()

+---+-------+------+------+-----------+----------+----+
| id|   name|gender|salary|       dept|row_number|rank|
+---+-------+------+------+-----------+----------+----+
|  5|    Eve|Female| 70000|Engineering|         1|   1|
|  9|  Irene|Female| 72000|Engineering|         2|   2|
|  2|    Bob|  Male| 80000|Engineering|         3|   3|
|  7|   Gina|Female| 65000|    Finance|         1|   1|
|  4|  Diana|Female| 90000|    Finance|         2|   2|
|  8|  Henry|  Male| 95000|    Finance|         3|   3|
|  1|  Alice|Female| 60000|         HR|         1|   1|
|  3|Charlie|  Male| 75000|         HR|         2|   2|
| 10|   John|  Male| 78000|         HR|         3|   3|
| 10|   Stew|  Male| 78000|         HR|         4|   3|
|  6|  Frank|  Male| 85000|         HR|         5|   5|
+---+-------+------+------+-----------+----------+----+

In [9]:
df3 = df2.withColumn("dens_rank", dense_rank().over(window))
df3.show()

+---+-------+------+------+-----------+----------+----+---------+
| id|   name|gender|salary|       dept|row_number|rank|dens_rank|
+---+-------+------+------+-----------+----------+----+---------+
|  5|    Eve|Female| 70000|Engineering|         1|   1|        1|
|  9|  Irene|Female| 72000|Engineering|         2|   2|        2|
|  2|    Bob|  Male| 80000|Engineering|         3|   3|        3|
|  7|   Gina|Female| 65000|    Finance|         1|   1|        1|
|  4|  Diana|Female| 90000|    Finance|         2|   2|        2|
|  8|  Henry|  Male| 95000|    Finance|         3|   3|        3|
|  1|  Alice|Female| 60000|         HR|         1|   1|        1|
|  3|Charlie|  Male| 75000|         HR|         2|   2|        2|
| 10|   John|  Male| 78000|         HR|         3|   3|        3|
| 10|   Stew|  Male| 78000|         HR|         4|   3|        3|
|  6|  Frank|  Male| 85000|         HR|         5|   5|        4|
+---+-------+------+------+-----------+----------+----+---------+